* {
  box-sizing: border-box;
}
.container {
  width: 100%;
  margin: auto;
}
.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}
.container-fuild {
  width: 100%;
}
.container > .row {
  width: 100%;
  height: auto;
}
.container > .row:before,
.container > .row:after {
  content: "";
  display: block;
  clear: both;
}
.container-fuild > .row {
  width: 100%;
  height: auto;
}
.container-fuild > .row:before,
.container-fuild > .row:after {
  content: "";
  display: block;
  clear: both;
}
.container > .row > .col-s-1 {
  width: 8.33333333%;
  position: relative;
  float: left;
}
.container-fuild > .row > .col-s-1 {
  width: 8.33333333%;
  float: left;
}
.container > .row > .col-s-offset-1 {
  margin-left: 8.33333333%;
  float: left;
}
.container > .row > .col-s-push-1 {
  left: 8.33333333%;
}
.container > .row > .col-s-pull-1 {
  left: -8.33333333%;
}
.container > .row > .col-s-2 {
  width: 16.66666667%;
  position: relative;
  float: left;
}
.container-fuild > .row > .col-s-2 {
  width: 16.66666667%;
  float: left;
}
.container > .row > .col-s-offset-2 {
  margin-left: 16.66666667%;
  float: left;
}
.container > .row > .col-s-push-2 {
  left: 16.66666667%;
}
.container > .row > .col-s-pull-2 {
  left: -16.66666667%;
}
.container > .row > .col-s-3 {
  width: 25%;
  position: relative;
  float: left;
}
.container-fuild > .row > .col-s-3 {
  width: 25%;
  float: left;
}
.container > .row > .col-s-offset-3 {
  margin-left: 25%;
  float: left;
}
.container > .row > .col-s-push-3 {
  left: 25%;
}
.container > .row > .col-s-pull-3 {
  left: -25%;
}
.container > .row > .col-s-4 {
  width: 33.33333333%;
  position: relative;
  float: left;
}
.container-fuild > .row > .col-s-4 {
  width: 33.33333333%;
  float: left;
}
.container > .row > .col-s-offset-4 {
  margin-left: 33.33333333%;
  float: left;
}
.container > .row > .col-s-push-4 {
  left: 33.33333333%;
}
.container > .row > .col-s-pull-4 {
  left: -33.33333333%;
}
.container > .row > .col-s-5 {
  width: 41.66666667%;
  position: relative;
  float: left;
}
.container-fuild > .row > .col-s-5 {
  width: 41.66666667%;
  float: left;
}
.container > .row > .col-s-offset-5 {
  margin-left: 41.66666667%;
  float: left;
}
.container > .row > .col-s-push-5 {
  left: 41.66666667%;
}
.container > .row > .col-s-pull-5 {
  left: -41.66666667%;
}
.container > .row > .col-s-6 {
  width: 50%;
  position: relative;
  float: left;
}
.container-fuild > .row > .col-s-6 {
  width: 50%;
  float: left;
}
.container > .row > .col-s-offset-6 {
  margin-left: 50%;
  float: left;
}
.container > .row > .col-s-push-6 {
  left: 50%;
}
.container > .row > .col-s-pull-6 {
  left: -50%;
}
.container > .row > .col-s-7 {
  width: 58.33333333%;
  position: relative;
  float: left;
}
.container-fuild > .row > .col-s-7 {
  width: 58.33333333%;
  float: left;
}
.container > .row > .col-s-offset-7 {
  margin-left: 58.33333333%;
  float: left;
}
.container > .row > .col-s-push-7 {
  left: 58.33333333%;
}
.container > .row > .col-s-pull-7 {
  left: -58.33333333%;
}
.container > .row > .col-s-8 {
  width: 66.66666667%;
  position: relative;
  float: left;
}
.container-fuild > .row > .col-s-8 {
  width: 66.66666667%;
  float: left;
}
.container > .row > .col-s-offset-8 {
  margin-left: 66.66666667%;
  float: left;
}
.container > .row > .col-s-push-8 {
  left: 66.66666667%;
}
.container > .row > .col-s-pull-8 {
  left: -66.66666667%;
}
.container > .row > .col-s-9 {
  width: 75%;
  position: relative;
  float: left;
}
.container-fuild > .row > .col-s-9 {
  width: 75%;
  float: left;
}
.container > .row > .col-s-offset-9 {
  margin-left: 75%;
  float: left;
}
.container > .row > .col-s-push-9 {
  left: 75%;
}
.container > .row > .col-s-pull-9 {
  left: -75%;
}
.container > .row > .col-s-10 {
  width: 83.33333333%;
  position: relative;
  float: left;
}
.container-fuild > .row > .col-s-10 {
  width: 83.33333333%;
  float: left;
}
.container > .row > .col-s-offset-10 {
  margin-left: 83.33333333%;
  float: left;
}
.container > .row > .col-s-push-10 {
  left: 83.33333333%;
}
.container > .row > .col-s-pull-10 {
  left: -83.33333333%;
}
.container > .row > .col-s-11 {
  width: 91.66666667%;
  position: relative;
  float: left;
}
.container-fuild > .row > .col-s-11 {
  width: 91.66666667%;
  float: left;
}
.container > .row > .col-s-offset-11 {
  margin-left: 91.66666667%;
  float: left;
}
.container > .row > .col-s-push-11 {
  left: 91.66666667%;
}
.container > .row > .col-s-pull-11 {
  left: -91.66666667%;
}
.container > .row > .col-s-12 {
  width: 100%;
  position: relative;
  float: left;
}
.container-fuild > .row > .col-s-12 {
  width: 100%;
  float: left;
}
.container > .row > .col-s-offset-12 {
  margin-left: 100%;
  float: left;
}
.container > .row > .col-s-push-12 {
  left: 100%;
}
.container > .row > .col-s-pull-12 {
  left: -100%;
}
.col-m-hide {
  display: block;
}
.col-l-hide {
  display: block;
}
.col-s-hide {
  display: none;
}
.kuai{
	display: block;
	margin: 0;
	padding: 0;
	
}
.bimg{
	overflow: hidden;
}
.i1{
  background: url("../img/accessories_small.jpg");
  background-position: center center;
  background-size:736px 200px;
  display: block;
  height:200px;
  background-repeat: no-repeat;
}
.i2{
  background: url("../img/ipad_pro_small.jpg");
  background-position: center center;
  background-size:736px 200px;
  display: block;
  height:200px;
  background-repeat: no-repeat;
}
.i3{
  background: url("../img/iphone_upgrade_small.jpg");
  background-position: center center;
  background-size:736px 200px;
  display: block;
  height:200px;
  background-repeat: no-repeat;
}
.i4{
  background: url("../img/airpods_small.jpg");
  background-position: center center;
  background-size:736px 200px;
  display: block;
  height:200px;
  background-repeat: no-repeat;
}
.b1{
  background: url("../img/iphone_alt_small.jpg");
  background-size:auto 100%;
  background-repeat:no-repeat ;
  width: 100%;
  height: 540px;
  display: block;
}
.border{
	box-sizing: border-box;
	border-top: 2px solid #fff;
	border-right: none;
}
.border:nth-child(4){
	border-right:0px;
}
.list>ul{
	display: none;
}
.list>h5{
	border-bottom: 1px solid #d6d6d6;
	padding: 10px 0px;
}
div.list h5 span:last-child{
	display: block;
	float: right;
	margin-right: 10px;
}
div.list{
	clear: both;
	width: 100%;
}
@media screen and (min-width: 734px) {
  .container {
    width: 100%;
  }
  .container > .row > .col-m-1 {
    width: 8.33333333%;
    position: relative;
    float: left;
  }
  .container-fuild > .row > .col-m-1 {
    width: 8.33333333%;
    float: left;
  }
  .container > .row > .col-m-offset-1 {
    margin-left: 8.33333333%;
    float: left;
  }
  .container > .row > .col-m-push-1 {
    left: 8.33333333%;
  }
  .container > .row > .col-m-pull-1 {
    left: -8.33333333%;
  }
  .container > .row > .col-m-2 {
    width: 16.66666667%;
    position: relative;
    float: left;
  }
  .container-fuild > .row > .col-m-2 {
    width: 16.66666667%;
    float: left;
  }
  .container > .row > .col-m-offset-2 {
    margin-left: 16.66666667%;
    float: left;
  }
  .container > .row > .col-m-push-2 {
    left: 16.66666667%;
  }
  .container > .row > .col-m-pull-2 {
    left: -16.66666667%;
  }
  .container > .row > .col-m-3 {
    width: 25%;
    position: relative;
    float: left;
  }
  .container-fuild > .row > .col-m-3 {
    width: 25%;
    float: left;
  }
  .container > .row > .col-m-offset-3 {
    margin-left: 25%;
    float: left;
  }
  .container > .row > .col-m-push-3 {
    left: 25%;
  }
  .container > .row > .col-m-pull-3 {
    left: -25%;
  }
  .container > .row > .col-m-4 {
    width: 33.33333333%;
    position: relative;
    float: left;
  }
  .container-fuild > .row > .col-m-4 {
    width: 33.33333333%;
    float: left;
  }
  .container > .row > .col-m-offset-4 {
    margin-left: 33.33333333%;
    float: left;
  }
  .container > .row > .col-m-push-4 {
    left: 33.33333333%;
  }
  .container > .row > .col-m-pull-4 {
    left: -33.33333333%;
  }
  .container > .row > .col-m-5 {
    width: 41.66666667%;
    position: relative;
    float: left;
  }
  .container-fuild > .row > .col-m-5 {
    width: 41.66666667%;
    float: left;
  }
  .container > .row > .col-m-offset-5 {
    margin-left: 41.66666667%;
    float: left;
  }
  .container > .row > .col-m-push-5 {
    left: 41.66666667%;
  }
  .container > .row > .col-m-pull-5 {
    left: -41.66666667%;
  }
  .container > .row > .col-m-6 {
    width: 50%;
    position: relative;
    float: left;
  }
  .container-fuild > .row > .col-m-6 {
    width: 50%;
    float: left;
  }
  .container > .row > .col-m-offset-6 {
    margin-left: 50%;
    float: left;
  }
  .container > .row > .col-m-push-6 {
    left: 50%;
  }
  .container > .row > .col-m-pull-6 {
    left: -50%;
  }
  .container > .row > .col-m-7 {
    width: 58.33333333%;
    position: relative;
    float: left;
  }
  .container-fuild > .row > .col-m-7 {
    width: 58.33333333%;
    float: left;
  }
  .container > .row > .col-m-offset-7 {
    margin-left: 58.33333333%;
    float: left;
  }
  .container > .row > .col-m-push-7 {
    left: 58.33333333%;
  }
  .container > .row > .col-m-pull-7 {
    left: -58.33333333%;
  }
  .container > .row > .col-m-8 {
    width: 66.66666667%;
    position: relative;
    float: left;
  }
  .container-fuild > .row > .col-m-8 {
    width: 66.66666667%;
    float: left;
  }
  .container > .row > .col-m-offset-8 {
    margin-left: 66.66666667%;
    float: left;
  }
  .container > .row > .col-m-push-8 {
    left: 66.66666667%;
  }
  .container > .row > .col-m-pull-8 {
    left: -66.66666667%;
  }
  .container > .row > .col-m-9 {
    width: 75%;
    position: relative;
    float: left;
  }
  .container-fuild > .row > .col-m-9 {
    width: 75%;
    float: left;
  }
  .container > .row > .col-m-offset-9 {
    margin-left: 75%;
    float: left;
  }
  .container > .row > .col-m-push-9 {
    left: 75%;
  }
  .container > .row > .col-m-pull-9 {
    left: -75%;
  }
  .container > .row > .col-m-10 {
    width: 83.33333333%;
    position: relative;
    float: left;
  }
  .container-fuild > .row > .col-m-10 {
    width: 83.33333333%;
    float: left;
  }
  .container > .row > .col-m-offset-10 {
    margin-left: 83.33333333%;
    float: left;
  }
  .container > .row > .col-m-push-10 {
    left: 83.33333333%;
  }
  .container > .row > .col-m-pull-10 {
    left: -83.33333333%;
  }
  .container > .row > .col-m-11 {
    width: 91.66666667%;
    position: relative;
    float: left;
  }
  .container-fuild > .row > .col-m-11 {
    width: 91.66666667%;
    float: left;
  }
  .container > .row > .col-m-offset-11 {
    margin-left: 91.66666667%;
    float: left;
  }
  .container > .row > .col-m-push-11 {
    left: 91.66666667%;
  }
  .container > .row > .col-m-pull-11 {
    left: -91.66666667%;
  }
  .container > .row > .col-m-12 {
    width: 100%;
    position: relative;
    float: left;
  }
  .container-fuild > .row > .col-m-12 {
    width: 100%;
    float: left;
  }
  .container > .row > .col-m-offset-12 {
    margin-left: 100%;
    float: left;
  }
  .container > .row > .col-m-push-12 {
    left: 100%;
  }
  .container > .row > .col-m-pull-12 {
    left: -100%;
  }
  .col-s-hide {
    display: block;
  }
  .col-l-hide {
    display: block;
  }
  .col-m-hide {
    display: none;
  }
  .bimg{
	overflow: hidden;
}
  .b1{
  background: url("../img/iphone_alt_medium.jpg");
   background-position: center center;
  background-size:  100% auto;
  background-repeat:no-repeat;
  height: 540px;
  display: block;
}
  .i1{
  background: url("../img/accessories_medium.jpg");
  background-position: center center;
  background-size:736px 200px;
  display: block;
  height:200px;
  background-repeat: no-repeat;
}
.i2{
  background: url("../img/ipad_pro_medium.jpg");
  background-position: center center;
  background-size:640px 200px;
  display: block;
  height:200px;
  background-repeat: no-repeat;
}
.i3{
  background: url("../img/iphone_upgrade_medium.jpg");
  background-position: center center;
  background-size:640px 200px;
  display: block;
  height:200px;
  background-repeat: no-repeat;
}
.i4{
  background: url("../img/airpods_medium.jpg");
  background-position: center center;
  background-size:640px 200px;
  display: block;
  height:200px;
  background-repeat: no-repeat;
}
.border{
	box-sizing: border-box;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
}
.border:nth-child(2),.border:nth-child(4){
	box-sizing: border-box;
	border-top: 2px solid #fff;
	border-right: none;
}
.list>ul{
	display: block;
}
.list>h5{
	border-bottom: none;
	padding: 0;
}
div.list h5 span:last-child{
	display: none;
}
div.list{
	height:auto;
	float:left;
	padding-top:20px;
	width: 20%;
	clear: none;
}
.topcon{
	padding: 0px 16px;
}
}
@media screen and (min-width: 1069px) {
  .container {
    width: 100%;
  }
  .topcon{
	padding: 0;
}
  .container > .row > .col-l-1 {
    width: 8.33333333%;
    position: relative;
    float: left;
  }
  .container-fuild > .row > .col-l-1 {
    width: 8.33333333%;
    float: left;
  }
  .container > .row > .col-l-offset-1 {
    margin-left: 8.33333333%;
    float: left;
  }
  .container > .row > .col-l-push-1 {
    left: 8.33333333%;
  }
  .container > .row > .col-l-pull-1 {
    left: -8.33333333%;
  }
  .container > .row > .col-l-2 {
    width: 16.66666667%;
    position: relative;
    float: left;
  }
  .container-fuild > .row > .col-l-2 {
    width: 16.66666667%;
    float: left;
  }
  .container > .row > .col-l-offset-2 {
    margin-left: 16.66666667%;
    float: left;
  }
  .container > .row > .col-l-push-2 {
    left: 16.66666667%;
  }
  .container > .row > .col-l-pull-2 {
    left: -16.66666667%;
  }
  .container > .row > .col-l-3 {
    width: 25%;
    position: relative;
    float: left;
  }
  .container-fuild > .row > .col-l-3 {
    width: 25%;
    float: left;
  }
  .container > .row > .col-l-offset-3 {
    margin-left: 25%;
    float: left;
  }
  .container > .row > .col-l-push-3 {
    left: 25%;
  }
  .container > .row > .col-l-pull-3 {
    left: -25%;
  }
  .container > .row > .col-l-4 {
    width: 33.33333333%;
    position: relative;
    float: left;
  }
  .container-fuild > .row > .col-l-4 {
    width: 33.33333333%;
    float: left;
  }
  .container > .row > .col-l-offset-4 {
    margin-left: 33.33333333%;
    float: left;
  }
  .container > .row > .col-l-push-4 {
    left: 33.33333333%;
  }
  .container > .row > .col-l-pull-4 {
    left: -33.33333333%;
  }
  .container > .row > .col-l-5 {
    width: 41.66666667%;
    position: relative;
    float: left;
  }
  .container-fuild > .row > .col-l-5 {
    width: 41.66666667%;
    float: left;
  }
  .container > .row > .col-l-offset-5 {
    margin-left: 41.66666667%;
    float: left;
  }
  .container > .row > .col-l-push-5 {
    left: 41.66666667%;
  }
  .container > .row > .col-l-pull-5 {
    left: -41.66666667%;
  }
  .container > .row > .col-l-6 {
    width: 50%;
    position: relative;
    float: left;
  }
  .container-fuild > .row > .col-l-6 {
    width: 50%;
    float: left;
  }
  .container > .row > .col-l-offset-6 {
    margin-left: 50%;
    float: left;
  }
  .container > .row > .col-l-push-6 {
    left: 50%;
  }
  .container > .row > .col-l-pull-6 {
    left: -50%;
  }
  .container > .row > .col-l-7 {
    width: 58.33333333%;
    position: relative;
    float: left;
  }
  .container-fuild > .row > .col-l-7 {
    width: 58.33333333%;
    float: left;
  }
  .container > .row > .col-l-offset-7 {
    margin-left: 58.33333333%;
    float: left;
  }
  .container > .row > .col-l-push-7 {
    left: 58.33333333%;
  }
  .container > .row > .col-l-pull-7 {
    left: -58.33333333%;
  }
  .container > .row > .col-l-8 {
    width: 66.66666667%;
    position: relative;
    float: left;
  }
  .container-fuild > .row > .col-l-8 {
    width: 66.66666667%;
    float: left;
  }
  .container > .row > .col-l-offset-8 {
    margin-left: 66.66666667%;
    float: left;
  }
  .container > .row > .col-l-push-8 {
    left: 66.66666667%;
  }
  .container > .row > .col-l-pull-8 {
    left: -66.66666667%;
  }
  .container > .row > .col-l-9 {
    width: 75%;
    position: relative;
    float: left;
  }
  .container-fuild > .row > .col-l-9 {
    width: 75%;
    float: left;
  }
  .container > .row > .col-l-offset-9 {
    margin-left: 75%;
    float: left;
  }
  .container > .row > .col-l-push-9 {
    left: 75%;
  }
  .container > .row > .col-l-pull-9 {
    left: -75%;
  }
  .container > .row > .col-l-10 {
    width: 83.33333333%;
    position: relative;
    float: left;
  }
  .container-fuild > .row > .col-l-10 {
    width: 83.33333333%;
    float: left;
  }
  .container > .row > .col-l-offset-10 {
    margin-left: 83.33333333%;
    float: left;
  }
  .container > .row > .col-l-push-10 {
    left: 83.33333333%;
  }
  .container > .row > .col-l-pull-10 {
    left: -83.33333333%;
  }
  .container > .row > .col-l-11 {
    width: 91.66666667%;
    position: relative;
    float: left;
  }
  .container-fuild > .row > .col-l-11 {
    width: 91.66666667%;
    float: left;
  }
  .container > .row > .col-l-offset-11 {
    margin-left: 91.66666667%;
    float: left;
  }
  .container > .row > .col-l-push-11 {
    left: 91.66666667%;
  }
  .container > .row > .col-l-pull-11 {
    left: -91.66666667%;
  }
  .container > .row > .col-l-12 {
    width: 100%;
    position: relative;
    float: left;
  }
  .container-fuild > .row > .col-l-12 {
    width: 100%;
    float: left;
  }
  .container > .row > .col-l-offset-12 {
    margin-left: 100%;
    float: left;
  }
  .container > .row > .col-l-push-12 {
    left: 100%;
  }
  .container > .row > .col-l-pull-12 {
    left: -100%;
  }
  .col-s-hide {
    display: block;
  }
  .col-m-hide {
    display: block;
  }
  .col-l-hide {
    display: none;
  }
  .bimg{
	overflow: hidden;
}
  .b1{
  background: url("../img/iphone_alt_large.jpg");
  background-size:100% auto;
  background-repeat:no-repeat ;
  background-position: center center;
  width: 100%;
  height: 540px;
  display: block;
  }
  .i1{
  background: url("../img/accessories_large.jpg");
  background-position: center center;
  background-size:360px 200px;
  display: block;
  height:200px;
  background-repeat: no-repeat;
}
.i2{
  background: url("../img/ipad_pro_large.jpg");
  background-position: center center;
  background-size:360px 200px;
  display: block;
  height:200px;
  background-repeat: no-repeat;
}
.i3{
  background: url("../img/iphone_upgrade_large.jpg");
  background-position: center center;
  background-size:360px 200px;
  display: block;
  height:200px;
  background-repeat: no-repeat;
}
.i4{
  background: url("../img/airpods_large.jpg");
  background-position: center center;
  background-size:360px 200px;
  display: block;
  height:200px;
  background-repeat: no-repeat;
}
.border{
	box-sizing: border-box;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
}
.border:nth-child(4){
	border-right: none;
}.border:nth-child(2){
	border-right: 2px solid #fff;
}
.list>ul{
	display: block;
}
.list>h5{
	border-bottom: none;
	padding: 0;
}
div.list h5 span:last-child{
	display: none;
}
div.list{
	height:auto;
	float:left;
	padding-top:20px;
	width: 20%;
	clear: none;
}

}
