
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1489673164270'); /* IE9*/
  src: url('iconfont.eot?t=1489673164270#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1489673164270') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1489673164270') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1489673164270#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;     /*消除锯齿*/
  -moz-osx-font-smoothing: grayscale;
}


.icon-daohanglanmu:before { content: "\e621"; }

.icon-gouwudai-copy:before { content: "\e617"; }

.icon-pingguo:before { content: "\e643"; }

.icon-music:before { content: "\e64c"; }

.icon-iphone:before { content: "\e64d"; }

.icon-watch:before { content: "\e64f"; }

.icon-ipad_small:before { content: "\e651"; }

.icon-mac_small:before { content: "\e652"; }

.icon-gongsizhichi:before { content: "\e64b"; }

.icon-search:before { content: "\e504"; }

