@cols:12;
@num1:1100px;
@num2:730px;
*{
  box-sizing: border-box;
}
.container{
  &-fluid{
    width:100%;margin: auto;
    .clear();
  }
  &-fluid .row{
    width:100%;
    .clear();
  }
  &{
    width:100%;margin: auto;
    .clear();
  }
  & .row{
    width:100%;
    .clear();
  }
}

.clear(){
  &{
    &:before,&:after{
      content: "";
      display: none;
      clear: both;
    }
  }
}
.for(@type,@i:1) when(@i<=@cols){
  /*固定*/
  .container .row .col-@{type}-@{i}{
    width:@i/12*100%;
    float:left;
    position: relative;
  }
  .container .row .col-@{type}-offset-@{i}{
    margin-left:@i/12*100%;
  }
  .container .row .col-@{type}-push-@{i}{
    left:@i/12*100%;
  }
  .container .row .col-@{type}-pull-@{i}{
    left:-@i/12*100%;
  }
  /*流式*/
  .container-fluid .row .col-@{type}-@{i}{
    width:@i/@cols*100%;
    float:left;
    position: relative;
  }
  .container-fluid .row .col-@{type}-offset-@{i}{
    margin-left:@i/12*100%;
  }
  .container-fluid .row .col-@{type}-push-@{i}{
    left:@i/12*100%;
  }
  .container-fluid .row .col-@{type}-pull-@{i}{
    left:-@i/12*100%;
  }

  .for(@type,@i:@i+1);
}
/*小屏*/
.for(s);

.col-m-hide{
  display: block;
}
.col-s-hide{
  display: none;
}
.col-l-hide{
  display: block;
}
/*中屏*/
@media screen and (min-width:@num2){
  .container{
    width: 100%;
  }
  .for(m);
  .col-s-hide{
    display: block;
  }
  .col-m-hide{
    display: none;
  }
  .col-l-hide{
    display: block;
  }
}
/*大屏*/
@media screen and (min-width:@num1){
  .container{
    width: 100%;
  }
  .for(l);
  .col-s-hide{
    display: block;
  }
  .col-m-hide{
    display: block;
  }
  .col-l-hide{
    display: none;
  }
}
/*******************************************************/
/*header*/
.adv{
  width: 100%;height: 40px;background: #444444;
}
.nav{
  width: 100%;height: 44px;background: #303030;
}
.navCon>li{
  font-size: 10px;
  font-family: inherit;font-weight: inherit;
  height: 44px;line-height: 44px;float: left;
}
.navCon:before,.navCon:after{
  content: "";
  clear: both;
  display: block;
}
.navCon li a{
  color: #ffffff;
}
.navCon li a:hover{
  color: #7D7D7D;
}
.iconfont{
  color:#fff;
  font-size: 35px;
}
.iconfont:hover{
  color:#7D7D7D;
}

/*小屏*/
/*汉堡按钮*/
.btn{
width: 20px;height: 20px;margin-top: 17px;
}
.btn .line1,.line2{
width: 100%;height: 1px;background: #fff;margin-top: 5px;
}
.btn .line1,.line2{
transition: transform 0.5s ease;
}
.btn:hover{
& .line1{
    transform: translate(0,5px) rotate(45deg);
}
& .line2{
    transform: rotate(-45deg);
}
}
/*下拉框*/
.menu{
  width: 100%;background: #303030;
  position: absolute;display: none;
  left:0;  top:84px;z-index: 999;
}
.menu li{
  width: 80%;margin: auto;line-height: 44px;
  height: 44px;border-bottom: 1px solid #333333;
}
.navCon:nth-child(1){
  display: none;
}
.navCon:nth-child(2){
  width: 100%;
  height:44px;
  display: block;

  &>li{
    width: 33.33333%;
  }
  &>li:nth-child(1){
    text-align: left;
    & .btn{
      margin-left: 30px;
    }
  }
  &>li:nth-child(2){
    text-align: center;
  }
  &>li:nth-child(3){
    text-align: right;
    & i{
      margin-right: 30px;
    }
  }
}
/*中屏*/
@media screen and (min-width: 765px){
  .navCon:nth-child(1){
    display: block;
    width: 100%;height: 44px;color:#fff;
    & li{
      text-align: center;
      width: 10%;
    }
  }
  .navCon:nth-child(2){
    display: none;
  }
}
/*大屏*/
@media screen and (min-width: 1024px){
  .navCon:nth-child(1){
    text-align: center;
    margin:0 auto;
    width: 1000px;
  }
}

/*banner*/
.wheel{
    width: 100%;
    height:420px;
    background:#000;
    position: relative;
  overflow: hidden;
}

.wheel .box{
    max-width:100%;
    margin:auto;height:100%;position: relative;
}
.wheel .box .wheel-list{
    position: absolute;
    width:100%;height:100%;
    left:100%;top:0;
}
.wheel .box .wheel-list a{
    position: absolute;width:100%;height:100%;
}

.wheel .box .wheel-list:nth-child(1){
    background:#0A0A0A;
    left:0;
}

.wheel .box .wheel-list:nth-child(2){
    background:#F2F2F2;
}

.wheel .box .wheel-list:nth-child(3){
    background:#fff;
}

.wheel .box .wheel-list:nth-child(1) a{
    background:url("../img/iphone_alt_large.jpg") no-repeat center;
    background-size: contain;

}
.wheel .box .wheel-list:nth-child(2) a{
    background:url("../img/watch_alt_large.jpg") no-repeat center;
    background-size: contain;
}

.wheel .box .wheel-list:nth-child(3) a{
    background:url("../img/macbookpro_large.jpg") no-repeat center;
    background-size: contain;
}
.btns{
  width:250px ;height: 5px;
  position: absolute;
  left: 0;right: 0;margin-left: auto;margin-right: auto;
  bottom: 30px;z-index: 500;
}
.smallbtns{
    width: 52px;height: 100%;
    float: left;margin: 0 10px;
    border: 1px solid #000;
}
.progress{
    width: 0;height: 100%;background: red;
}

.leftBthBox{
    width:15%;
    height:100%;
    position: absolute;
    left:0;top:0;
    z-index: 500;
}
.rightBthBox{
    width:15%;
    height:100%;
    position: absolute;
    right:0;top:0;
    z-index: 500;
}
.leftBtn,.rightBtn{
    width:80px;height:80px;
    background:#ccc;
    text-align: center;
    line-height: 50px;
    position: absolute;
    left:0;top:0;right:0;bottom: 0;
    margin:auto;
    font-size:20px;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 1s ease;
    font-size: 40px;text-align: center;
    line-height: 80px;font-family: "宋体";
}

.leftBthBox:hover .leftBtn{
    opacity: 1;
}

.rightBthBox:hover .rightBtn{
    opacity: 1;
}



@media screen and (min-width: 735px){
  .wheel{
    height: 500px;
  }
   .wheel .box .wheel-list:nth-child(3) a{
        background:url("../img/macbookpro_large.jpg") no-repeat center;
        background-size: cover;
    }
}







/*banner下*/
.bannerxia{
  width: 100%;height: 200px;
}
/*大屏*/
.col-l-3:nth-child(1){
  height: 200px;background-image: url(../img/accessories_large.jpg);
  background-position:center center;
  background-size:auto 100%;
  background-repeat: no-repeat;
}
.col-l-3:nth-child(2){
  height: 200px;background-image: url(../img/airpods_large.jpg);
  background-position:center center;
  background-size:auto 100%;
  background-repeat: no-repeat;
}
.col-l-3:nth-child(3){
  height: 200px;background-image: url(../img/ipad_pro_large.jpg);
  background-position:center center;
  background-size:auto 100%;
  background-repeat: no-repeat;
}
.col-l-3:nth-child(4){
  height: 200px;background-image: url(../img/iphone_upgrade_large.jpg);
  background-position:center center;
  background-size:auto 100%;
  background-repeat: no-repeat;
}
/*中屏*/
.col-m-6:nth-child(1){
   height: 200px;background-image: url(../img/accessories_medium.jpg);
   background-position:center center;
   background-size:auto 100%;
   background-repeat: no-repeat;
 }
.col-m-6:nth-child(2){
  height: 200px;background-image: url(../img/airpods_medium.jpg);
  background-position:center center;
  background-size:auto 100%;
  background-repeat: no-repeat;
}
.col-m-6:nth-child(3){
  height: 200px;background-image: url(../img/ipad_pro_medium.jpg);
  background-position:center center;
  background-size:auto 100%;
  background-repeat: no-repeat;
}
.col-m-6:nth-child(4){
  height: 200px;background-image: url(../img/iphone_upgrade_medium.jpg);
  background-position:center center;
  background-size:auto 100%;
  background-repeat: no-repeat;
}
/*小屏*/
.col-s-12:nth-child(1){
  height: 200px;background-image: url(../img/accessories_small.jpg);
  background-position:center center;
  background-size:auto 100%;
  background-repeat: no-repeat;
}
.col-s-12:nth-child(2){
  height: 200px;background-image: url(../img/airpods_small.jpg);
  background-position:center center;
  background-size:auto 100%;
  background-repeat: no-repeat;
}
.col-s-12:nth-child(3){
  height: 200px;background-image: url(../img/ipad_pro_small.jpg);
  background-position:center center;
  background-size:auto 100%;
  background-repeat: no-repeat;
}
.col-s-12:nth-child(4){
  height: 200px;background-image: url(../img/iphone_upgrade_small.jpg);
  background-position:center center;
  background-size:auto 100%;
  background-repeat: no-repeat;
}
/*footer*/
.list{
      width:100%;
      background:#F2F2F2;
  }
.lists{
    max-width: 980px;
    padding: 0 22px;
    margin:0 auto;
    overflow: hidden;
}
.list .title{
    border-bottom: 1px solid #d6d6d6;
    color: #888;
    padding: 17px 0 11px;
}
.list .title p{
    font-size: 11px;
    font-weight: 400;
}
.list ul.lists{
    width:100%;
    font-size: 11px;
    font-weight: 400;
    padding-top: 20px;
    float:left;
}
.list ul.lists .listtitle{
    font-size: 11px;
    font-weight: 600;
    line-height: 30px;
    cursor: pointer;
  width: 100%;
}
.list ul.lists .linedown{
    width:100%;
    height:1px;
    background:#ccc;
}
.list .lists .list{
    display: none;
}
.list ul.lists .listtitle .after{
    float: right;
    font-size: 14px;
    font-weight: normal;
    margin-top: -2px;
    margin-right: 8px;
}

.list .lists .list li,.list .lists .list ul{
    margin-bottom: 6px;
}
.list .lists .list li:hover{
    text-decoration: underline;
}
.list .lists .list ul:hover{
    text-decoration: underline;
}
.list .lists .list a{
    color: #000;
}

@media screen and (min-width:765px){
      .list ul.lists{
          width:20%;
      }
      .list ul.lists1{
          width:100%;
      }
      .list ul.lists .listtitle{
          font-size: 11px;
          font-weight: 600;
          margin: 0;
      }
      .list ul.lists .linedown{
          display: none;
      }
      .list ul.lists .listtitle .after{
          display: none;
      }
      .list .lists .list{
          display: block;
      }
}

  .footer{
      color: #888;
      padding: 34px 0 21px;
      font-size: 12px;
  }
.footer .contfooter{
    max-width: 980px;
    margin:0 auto;
    padding: 0 22px;
}
.footer .footer1{
    margin-bottom: 7px;
    padding-bottom: 6px;
    border-bottom: 1px solid #d6d6d6;
}
.footer .footer1 a{
    color: #0070c9;
}
.footer .footer2{
    overflow: hidden;
}
.footer .footer2 .footer2title,.footer .footer2 .footer2list{
    margin-right: 30px;
    float: left;
    margin-top: 3px;
}
.footer .footer2 .footer2list a{
    border-right: 1px solid #d6d6d6;
    margin-right: 10px;
    padding-right: 12px;
    display: inline-block;
    color: #555;
}
.footer .footer2 .footer2list a:hover{
    text-decoration: underline;
}
.footer .footerimg{
    float: none;
}
.footer .footerimg span{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    cursor: pointer;
    float: left;
}
.footer p{
    margin-top: 5px;
    color: #999;
}
.footer p a{
    color: #999;
}
.footer .nowrap a:hover{
    text-decoration: underline;
}


