.container {
  margin: 0 auto;
  width: 600px;
}
.container-fluid {
  margin: auto;
  width: 100%;
}
.container-fluid:before,
.container-fluid:after {
  content: "";
  clear: both;
  display: block;
}
.container-fluid-fluid > .row {
  margin: auto;
  width: 100%;
}
.container-fluid-fluid > .row:before,
.container-fluid-fluid > .row:after {
  content: "";
  clear: both;
  display: block;
}
.container:before,
.container:after {
  content: "";
  clear: both;
  display: block;
}
.container > .row {
  margin: 0 auto;
  width: 100%;
}
.container > .row:before,
.container > .row:after {
  content: "";
  clear: both;
  display: block;
}
.com-l-hiden {
  display: block;
}
.col-m-hiden {
  display: block;
}
.col-s-hiden {
  display: none;
}
.col-s-1 {
  width: 8.33333333%;
  float: left;
}
.col-push-1 {
  margin-left: 8.33333333%;
}
.col-pull-1 {
  margin-right: -8.33333333%;
}
.col-offsetl-1 {
  position: relative;
  left: 8.33333333%;
}
.col-offsetr-1 {
  position: relative;
  left: -8.33333333%;
}
.col-s-2 {
  width: 16.66666667%;
  float: left;
}
.col-push-2 {
  margin-left: 16.66666667%;
}
.col-pull-2 {
  margin-right: -16.66666667%;
}
.col-offsetl-2 {
  position: relative;
  left: 16.66666667%;
}
.col-offsetr-2 {
  position: relative;
  left: -16.66666667%;
}
.col-s-3 {
  width: 25%;
  float: left;
}
.col-push-3 {
  margin-left: 25%;
}
.col-pull-3 {
  margin-right: -25%;
}
.col-offsetl-3 {
  position: relative;
  left: 25%;
}
.col-offsetr-3 {
  position: relative;
  left: -25%;
}
.col-s-4 {
  width: 33.33333333%;
  float: left;
}
.col-push-4 {
  margin-left: 33.33333333%;
}
.col-pull-4 {
  margin-right: -33.33333333%;
}
.col-offsetl-4 {
  position: relative;
  left: 33.33333333%;
}
.col-offsetr-4 {
  position: relative;
  left: -33.33333333%;
}
.col-s-5 {
  width: 41.66666667%;
  float: left;
}
.col-push-5 {
  margin-left: 41.66666667%;
}
.col-pull-5 {
  margin-right: -41.66666667%;
}
.col-offsetl-5 {
  position: relative;
  left: 41.66666667%;
}
.col-offsetr-5 {
  position: relative;
  left: -41.66666667%;
}
.col-s-6 {
  width: 50%;
  float: left;
}
.col-push-6 {
  margin-left: 50%;
}
.col-pull-6 {
  margin-right: -50%;
}
.col-offsetl-6 {
  position: relative;
  left: 50%;
}
.col-offsetr-6 {
  position: relative;
  left: -50%;
}
.col-s-7 {
  width: 58.33333333%;
  float: left;
}
.col-push-7 {
  margin-left: 58.33333333%;
}
.col-pull-7 {
  margin-right: -58.33333333%;
}
.col-offsetl-7 {
  position: relative;
  left: 58.33333333%;
}
.col-offsetr-7 {
  position: relative;
  left: -58.33333333%;
}
.col-s-8 {
  width: 66.66666667%;
  float: left;
}
.col-push-8 {
  margin-left: 66.66666667%;
}
.col-pull-8 {
  margin-right: -66.66666667%;
}
.col-offsetl-8 {
  position: relative;
  left: 66.66666667%;
}
.col-offsetr-8 {
  position: relative;
  left: -66.66666667%;
}
.col-s-9 {
  width: 75%;
  float: left;
}
.col-push-9 {
  margin-left: 75%;
}
.col-pull-9 {
  margin-right: -75%;
}
.col-offsetl-9 {
  position: relative;
  left: 75%;
}
.col-offsetr-9 {
  position: relative;
  left: -75%;
}
.col-s-10 {
  width: 83.33333333%;
  float: left;
}
.col-push-10 {
  margin-left: 83.33333333%;
}
.col-pull-10 {
  margin-right: -83.33333333%;
}
.col-offsetl-10 {
  position: relative;
  left: 83.33333333%;
}
.col-offsetr-10 {
  position: relative;
  left: -83.33333333%;
}
.col-s-11 {
  width: 91.66666667%;
  float: left;
}
.col-push-11 {
  margin-left: 91.66666667%;
}
.col-pull-11 {
  margin-right: -91.66666667%;
}
.col-offsetl-11 {
  position: relative;
  left: 91.66666667%;
}
.col-offsetr-11 {
  position: relative;
  left: -91.66666667%;
}
.col-s-12 {
  width: 100%;
  float: left;
}
.col-push-12 {
  margin-left: 100%;
}
.col-pull-12 {
  margin-right: -100%;
}
.col-offsetl-12 {
  position: relative;
  left: 100%;
}
.col-offsetr-12 {
  position: relative;
  left: -100%;
}
@media screen and (min-width: 765px) {
  .container {
    width: 765px;
  }
  .col-m-1 {
    width: 8.33333333%;
    float: left;
  }
  .col-push-1 {
    margin-left: 8.33333333%;
  }
  .col-pull-1 {
    margin-right: -8.33333333%;
  }
  .col-offsetl-1 {
    position: relative;
    left: 8.33333333%;
  }
  .col-offsetr-1 {
    position: relative;
    left: -8.33333333%;
  }
  .col-m-2 {
    width: 16.66666667%;
    float: left;
  }
  .col-push-2 {
    margin-left: 16.66666667%;
  }
  .col-pull-2 {
    margin-right: -16.66666667%;
  }
  .col-offsetl-2 {
    position: relative;
    left: 16.66666667%;
  }
  .col-offsetr-2 {
    position: relative;
    left: -16.66666667%;
  }
  .col-m-3 {
    width: 25%;
    float: left;
  }
  .col-push-3 {
    margin-left: 25%;
  }
  .col-pull-3 {
    margin-right: -25%;
  }
  .col-offsetl-3 {
    position: relative;
    left: 25%;
  }
  .col-offsetr-3 {
    position: relative;
    left: -25%;
  }
  .col-m-4 {
    width: 33.33333333%;
    float: left;
  }
  .col-push-4 {
    margin-left: 33.33333333%;
  }
  .col-pull-4 {
    margin-right: -33.33333333%;
  }
  .col-offsetl-4 {
    position: relative;
    left: 33.33333333%;
  }
  .col-offsetr-4 {
    position: relative;
    left: -33.33333333%;
  }
  .col-m-5 {
    width: 41.66666667%;
    float: left;
  }
  .col-push-5 {
    margin-left: 41.66666667%;
  }
  .col-pull-5 {
    margin-right: -41.66666667%;
  }
  .col-offsetl-5 {
    position: relative;
    left: 41.66666667%;
  }
  .col-offsetr-5 {
    position: relative;
    left: -41.66666667%;
  }
  .col-m-6 {
    width: 50%;
    float: left;
  }
  .col-push-6 {
    margin-left: 50%;
  }
  .col-pull-6 {
    margin-right: -50%;
  }
  .col-offsetl-6 {
    position: relative;
    left: 50%;
  }
  .col-offsetr-6 {
    position: relative;
    left: -50%;
  }
  .col-m-7 {
    width: 58.33333333%;
    float: left;
  }
  .col-push-7 {
    margin-left: 58.33333333%;
  }
  .col-pull-7 {
    margin-right: -58.33333333%;
  }
  .col-offsetl-7 {
    position: relative;
    left: 58.33333333%;
  }
  .col-offsetr-7 {
    position: relative;
    left: -58.33333333%;
  }
  .col-m-8 {
    width: 66.66666667%;
    float: left;
  }
  .col-push-8 {
    margin-left: 66.66666667%;
  }
  .col-pull-8 {
    margin-right: -66.66666667%;
  }
  .col-offsetl-8 {
    position: relative;
    left: 66.66666667%;
  }
  .col-offsetr-8 {
    position: relative;
    left: -66.66666667%;
  }
  .col-m-9 {
    width: 75%;
    float: left;
  }
  .col-push-9 {
    margin-left: 75%;
  }
  .col-pull-9 {
    margin-right: -75%;
  }
  .col-offsetl-9 {
    position: relative;
    left: 75%;
  }
  .col-offsetr-9 {
    position: relative;
    left: -75%;
  }
  .col-m-10 {
    width: 83.33333333%;
    float: left;
  }
  .col-push-10 {
    margin-left: 83.33333333%;
  }
  .col-pull-10 {
    margin-right: -83.33333333%;
  }
  .col-offsetl-10 {
    position: relative;
    left: 83.33333333%;
  }
  .col-offsetr-10 {
    position: relative;
    left: -83.33333333%;
  }
  .col-m-11 {
    width: 91.66666667%;
    float: left;
  }
  .col-push-11 {
    margin-left: 91.66666667%;
  }
  .col-pull-11 {
    margin-right: -91.66666667%;
  }
  .col-offsetl-11 {
    position: relative;
    left: 91.66666667%;
  }
  .col-offsetr-11 {
    position: relative;
    left: -91.66666667%;
  }
  .col-m-12 {
    width: 100%;
    float: left;
  }
  .col-push-12 {
    margin-left: 100%;
  }
  .col-pull-12 {
    margin-right: -100%;
  }
  .col-offsetl-12 {
    position: relative;
    left: 100%;
  }
  .col-offsetr-12 {
    position: relative;
    left: -100%;
  }
  .com-l-hiden {
    display: block;
  }
  .col-s-hiden {
    display: block;
  }
  .col-m-hiden {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
  }
  .col-l-1 {
    width: 8.33333333%;
    float: left;
  }
  .col-push-1 {
    margin-left: 8.33333333%;
  }
  .col-pull-1 {
    margin-right: -8.33333333%;
  }
  .col-offsetl-1 {
    position: relative;
    left: 8.33333333%;
  }
  .col-offsetr-1 {
    position: relative;
    left: -8.33333333%;
  }
  .col-l-2 {
    width: 16.66666667%;
    float: left;
  }
  .col-push-2 {
    margin-left: 16.66666667%;
  }
  .col-pull-2 {
    margin-right: -16.66666667%;
  }
  .col-offsetl-2 {
    position: relative;
    left: 16.66666667%;
  }
  .col-offsetr-2 {
    position: relative;
    left: -16.66666667%;
  }
  .col-l-3 {
    width: 25%;
    float: left;
  }
  .col-push-3 {
    margin-left: 25%;
  }
  .col-pull-3 {
    margin-right: -25%;
  }
  .col-offsetl-3 {
    position: relative;
    left: 25%;
  }
  .col-offsetr-3 {
    position: relative;
    left: -25%;
  }
  .col-l-4 {
    width: 33.33333333%;
    float: left;
  }
  .col-push-4 {
    margin-left: 33.33333333%;
  }
  .col-pull-4 {
    margin-right: -33.33333333%;
  }
  .col-offsetl-4 {
    position: relative;
    left: 33.33333333%;
  }
  .col-offsetr-4 {
    position: relative;
    left: -33.33333333%;
  }
  .col-l-5 {
    width: 41.66666667%;
    float: left;
  }
  .col-push-5 {
    margin-left: 41.66666667%;
  }
  .col-pull-5 {
    margin-right: -41.66666667%;
  }
  .col-offsetl-5 {
    position: relative;
    left: 41.66666667%;
  }
  .col-offsetr-5 {
    position: relative;
    left: -41.66666667%;
  }
  .col-l-6 {
    width: 50%;
    float: left;
  }
  .col-push-6 {
    margin-left: 50%;
  }
  .col-pull-6 {
    margin-right: -50%;
  }
  .col-offsetl-6 {
    position: relative;
    left: 50%;
  }
  .col-offsetr-6 {
    position: relative;
    left: -50%;
  }
  .col-l-7 {
    width: 58.33333333%;
    float: left;
  }
  .col-push-7 {
    margin-left: 58.33333333%;
  }
  .col-pull-7 {
    margin-right: -58.33333333%;
  }
  .col-offsetl-7 {
    position: relative;
    left: 58.33333333%;
  }
  .col-offsetr-7 {
    position: relative;
    left: -58.33333333%;
  }
  .col-l-8 {
    width: 66.66666667%;
    float: left;
  }
  .col-push-8 {
    margin-left: 66.66666667%;
  }
  .col-pull-8 {
    margin-right: -66.66666667%;
  }
  .col-offsetl-8 {
    position: relative;
    left: 66.66666667%;
  }
  .col-offsetr-8 {
    position: relative;
    left: -66.66666667%;
  }
  .col-l-9 {
    width: 75%;
    float: left;
  }
  .col-push-9 {
    margin-left: 75%;
  }
  .col-pull-9 {
    margin-right: -75%;
  }
  .col-offsetl-9 {
    position: relative;
    left: 75%;
  }
  .col-offsetr-9 {
    position: relative;
    left: -75%;
  }
  .col-l-10 {
    width: 83.33333333%;
    float: left;
  }
  .col-push-10 {
    margin-left: 83.33333333%;
  }
  .col-pull-10 {
    margin-right: -83.33333333%;
  }
  .col-offsetl-10 {
    position: relative;
    left: 83.33333333%;
  }
  .col-offsetr-10 {
    position: relative;
    left: -83.33333333%;
  }
  .col-l-11 {
    width: 91.66666667%;
    float: left;
  }
  .col-push-11 {
    margin-left: 91.66666667%;
  }
  .col-pull-11 {
    margin-right: -91.66666667%;
  }
  .col-offsetl-11 {
    position: relative;
    left: 91.66666667%;
  }
  .col-offsetr-11 {
    position: relative;
    left: -91.66666667%;
  }
  .col-l-12 {
    width: 100%;
    float: left;
  }
  .col-push-12 {
    margin-left: 100%;
  }
  .col-pull-12 {
    margin-right: -100%;
  }
  .col-offsetl-12 {
    position: relative;
    left: 100%;
  }
  .col-offsetr-12 {
    position: relative;
    left: -100%;
  }
  .com-m-hiden {
    display: block;
  }
  .col-s-hiden {
    display: block;
  }
  .col-l-hiden {
    display: none;
  }
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
