.small {
  display: block;
}
.huge {
  display: none;
}
.wrapper {
  width: 100%;
  height: 40px;
  z-index: 9999;
  background: #444;
  line-height: 1;
}
.wrapper-text {
  color: #a8a8aa;
  font-size: 12px;
  line-height: 40px;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  text-align: right;
  max-width: 976px;
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (min-width: 757px) {
  .small {
    display: none;
  }
  .huge {
    margin: auto;
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .small {
    display: none;
  }
  .huge {
    display: block;
  }
}
@media screen and (max-width: 757px) {
  .small {
    height: 48px;
    line-height: 48px;
  }
  .small .globlnav {
    height: 100%;
  }
}
.globlnav {
  width: 100%;
  height: 44px;
  line-height: 44px;
  background: rgba(0, 0, 0, 0.8);
}
.content {
  max-width: 980px;
  height: 100%;
  margin: 0 auto;
  padding: 0 22px;
  position: relative;
  z-index: 2;
}
.list {
  height: 100%;
  width: 100%;
  text-align: justify;
  display: inline-block;
  position: relative;
  transition: all 2s;
}
.list:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.list .item {
  display: inline-block;
  position: relative;
  height: 100%;
  z-index: 1;
  vertical-align: top;
}
.list .link {
  font-size: 14px;
  line-height: 3.14286;
  font-weight: 400;
  letter-spacing: -0.01em;
  color: #fff;
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0 10px;
  height: 100%;
  opacity: 1;
  background: no-repeat;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-tap-highlight-color: transparent;
  outline-offset: -7px;
}
.list .apple {
  background-size: 20px 44px;
  background-repeat: no-repeat;
  background-image: url(../images/image_large.svg);
  background-position: center center;
  width: 20px;
}
.list .link-text {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: 50%;
}
.list .mac {
  background-repeat: no-repeat;
  background-image: url(../images/image_large2.svg);
  background-position: center center;
  background-origin: content-box;
  background-size: cover;
  width: 2em;
  max-width: 47.6px;
}
.list .ipad {
  background-repeat: no-repeat;
  background-image: url(../images/image_large3.svg);
  background-position: center center;
  background-origin: content-box;
  background-size: cover;
  width: 1.92857em;
  max-width: 45.9px;
}
.list .iPhone {
  background-repeat: no-repeat;
  background-image: url(../images/image_large4.svg);
  background-position: center center;
  background-origin: content-box;
  background-size: cover;
  width: 3.14286em;
  max-width: 74.8px;
}
.list .watch {
  background-repeat: no-repeat;
  background-image: url(../images/image_large5.svg);
  background-position: center center;
  background-origin: content-box;
  background-size: cover;
  width: 2.85714em;
  max-width: 68px;
}
.list .music {
  background-repeat: no-repeat;
  background-image: url(../images/image_large6.svg);
  background-position: center center;
  background-origin: content-box;
  background-size: cover;
  width: 2.64286em;
  max-width: 62.9px;
}
.list .support {
  background-repeat: no-repeat;
  background-image: url(../images/image_large8.svg);
  background-position: center center;
  background-origin: content-box;
  background-size: cover;
  width: 3.28571em;
  max-width: 78.2px;
}
.list .search {
  background-size: 16px 44px;
  background-repeat: no-repeat;
  background-image: url(../images/image_large9.svg);
  background-position: center center;
  width: 16px;
}
.list .bag {
  background-size: 14px 45px;
  background-repeat: no-repeat;
  background-image: url(../images/image_large10.svg);
  background-position: center center;
  width: 14px;
}
.item .lable {
  margin: auto;
  display: block;
  position: absolute;
  z-index: 3;
  top: 0;
  width: 48px;
  height: 48px;
  cursor: pointer;
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-tap-highlight-color: transparent;
}
.lable-top {
  transform: rotate(0);
  z-index: 4;
  transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
.border {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
}
.lable-top .top {
  top: 30px;
}
.bread {
  display: block;
  width: 17px;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 16px;
  z-index: 1;
  top: 50%;
  left: 0;
}
.buttom {
  bottom: 23px;
}
.ac-list {
  position: absolute;
  z-index: 2;
  top: 44px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0 48px;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;
}
.list-menu {
  width: 100%;
}
.ac-mac {
  width: 100%;
}
