/*less
  作用：把less转化为css;

  css编程思想过程化 ->css3模块化方式进行升级;

  为什么要加前缀
  1.表示先进性
  2.表示并不同用，算法优秀，测试版本

  渐进增强：先匹配普通的
  优雅降级：先匹配常用的


  1.变量
  2.函数
  3.条件
  4.循环
  5 &

  6.一个less里面引用另一个less   @import "var.less"
  解决浮动带来的影响
*/
div1 {
  width: 8.33333333%;
}
div2 {
  width: 16.66666667%;
}
div3 {
  width: 25%;
}
div4 {
  width: 33.33333333%;
}
div5 {
  width: 41.66666667%;
}
div6 {
  width: 50%;
}
div7 {
  width: 58.33333333%;
}
div8 {
  width: 66.66666667%;
}
div9 {
  width: 75%;
}
div10 {
  width: 83.33333333%;
}
div11 {
  width: 91.66666667%;
}
div12 {
  width: 100%;
}
.one {
  width: 100px;
  height: 100px;
  border: 1px solid pink;
  border-image-source: url(../11.jpg);
  border-image-width: 10px;
  border-image-slice: 33.33% 33.33% 33.33% 33.33%;
  border-image-repeat: round;
  border-image-outset: 0px;
}
