@media screen and (min-width: 100px) {
	.small{
		display: block;
	}
	.smallbox{
		display: block;
	}
	.small-adbox{
		display: block;
	}
	.large{
		display: none;
	}
	.largebox{
		display: none;
	}
	nav{
		width: 100%;
		height: 44px;
		background: rgba(0,0,0,0.8);
		position: relative;
	}
	.small-nav{
		max-width: 765px;
		margin: 0 auto;
	}
	.small-nav div{
		float: left;
		width: 33.333%;
		height: 100%;
		text-align: center;
		line-height: 44px;
	}
	div.small-list:first-child{
		text-align: left;
	}
	div.small-list:last-child{
		text-align: right;
	}
	div.small-list ul{
		display: none;
		position: absolute;
		top:44px;
		left: 0;
		z-index: 10000;
		width: 100%;
		height: 500px;
		background: rgb(0,0,0);
	}
	.smallad{
		width: 100%;
		height: 1200px;
	}
	.smallad li{
		width: 100%;
		height: 25%;
	}
	.smallad li:nth-child(1) a{
		width: 100%;
		height: 100%;
		display: block;
		background: url("ipad_pro_large.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.smallad li:nth-child(2) a{
		width: 100%;
		height: 100%;
		display: block;
		background: url("tv_large.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.smallad li:nth-child(3) a{
		width: 100%;
		height: 100%;
		display: block;
		background: url("airpods_alt_large.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.smallad li:nth-child(4) a{
		width: 100%;
		height: 100%;
		display: block;
		background: url("accessories_large.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.smallbox{
		width: 100%;
		height: 580px;
		position: relative;
		overflow: hidden;
	}
	.wheelBox{
		width: 100%;
		height: 100%;
		position: relative;
	}
	.smallwheel-list{
		width: 100%;
		height: 100%;
		position: absolute;
		left:100%;
	}
	.smallwheel-list:first-child a{
		width: 100%;
		height: 100%;
		background: url("iphone_alt_large.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		display: block;
	}
	.smallwheel-list:nth-child(2) a{
		width: 100%;
		height: 100%;
		background: url("watch_alt_large.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		display: block;
	}
	.smallwheel-list:last-child a{
		width: 100%;
		height: 100%;
		background: url("macbookpro_large.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		display: block;
	}
	.smallwheel-list:first-child{
		left:0;
	}
	.leftbtnbox{
		width: 20%;
		height: 100%;
		position: absolute;
		left:10px;
		top:0;
		bottom:0;
	}
	.leftbtnbox:hover .leftbtn{
		opacity: 0.3;
	}
	.leftbtn{
		width: 64px;
		height: 64px;
		border:1px solid #000;
		border-radius: 50%;
		position: absolute;
		left:0;
		top:50%;
		font-size: 30px;
		text-align: center;
		line-height: 64px;
		background: #fff;
		opacity: 0;
	}
	.leftbtnbox .leftbtn:hover{
		opacity: 1;
	}
	.rightbtn{
		width: 64px;
		height: 64px;
		border:1px solid #000;
		border-radius: 50%;
		position: absolute;
		right:0;
		top:50%;
		font-size: 30px;
		text-align: center;
		line-height: 64px;
		background: #fff;
		opacity: 0;
	}
	.rightbtnbox{
		width: 20%;
		height: 100%;
		position: absolute;
		right:10px;
		top:0;
		bottom:0;
	}
	.rightbtnbox:hover .rightbtn{
		opacity: 0.3;
	}
	.rightbtnbox .rightbtn:hover{
		opacity: 1;
	}
	.rectbtnbox{
		width: 100px;
		height: 3px;
		position: absolute;
		left:50%;
		bottom:10px;
		z-index: 500;
	}
	.rectbtn-list{
		width: 30%;
		height: 100%;
		margin-right: 5%;
		float: left;
		background: #000;
		z-index: 500;
	}
	.rectbtn-list:last-child{
		margin-right: 0;
	}
	.progress{
		width: 0;
		height: 100%;
		background: red;
	}
	.smallfoot{
		width: 100%;
	}
	.smallfoot div{
		min-height: 35px;
	}
	.foothide{
		width: 100%;
		height: auto;
		display: none;
		font-size: 12px;
	}
	.largefoot{
		display: none;
	}
}

@media screen and (min-width: 765px) {
	.small{
		display: none;
	}
	.smallbox{
		display: none;
	}
	.small-adbox{
		display: none;
	}
	.smallfoot{
		display: none;
	}
	.large{
		display: block;
	}
	.largebox{
		display: block;
	}
	.largefoot{
		display: block;
	}
	nav{
		width: 100%;
		height: 44px;
		background: rgba(0,0,0,0.8);
	}
	.large-nav{
		min-width: 765px;
		margin: 0 auto;
	}
	.large-nav div{
		float: left;
		width: 11.111%;
		height: 100%;
		text-align: center;
		line-height: 44px;
	}
	.large-nav span{
		color: #fff;
	}
	.largead{
		width: 100%;
		height: 200px;
	}
	.largead li{
		width: 25%;
		height: 100%;
		float: left;
	}
	.largead li:nth-child(1) a{
		width: 100%;
		height: 100%;
		display: block;
		background: url("ipad_pro_large.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.largead li:nth-child(2) a{
		width: 100%;
		height: 100%;
		display: block;
		background: url("tv_large.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.largead li:nth-child(3) a{
		width: 100%;
		height: 100%;
		display: block;
		background: url("airpods_alt_large.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.largead li:nth-child(4) a{
		width: 100%;
		height: 100%;
		display: block;
		background: url("accessories_large.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.largebox{
		width: 100%;
		height: 580px;
		position: relative;
		overflow: hidden;
	}
	.wheelBox{
		width: 100%;
		height: 100%;
		position: relative;
	}
	.largewheel-list{
		width: 100%;
		height: 100%;
		position: absolute;
		left:100%;
	}
	.largewheel-list:first-child a{
		width: 100%;
		height: 100%;
		background: url("iphone_alt_large.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		display: block;
	}
	.largewheel-list:nth-child(2) a{
		width: 100%;
		height: 100%;
		background: url("watch_alt_large.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		display: block;
	}
	.largewheel-list:last-child a{
		width: 100%;
		height: 100%;
		background: url("macbookpro_large.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		display: block;
	}
	.largewheel-list:first-child{
		left:0;
	}
	.leftbtnbox{
		width: 20%;
		height: 100%;
		position: absolute;
		left:10px;
		top:0;
		bottom:0;
	}
	.leftbtnbox:hover .leftbtn{
		opacity: 0.3;
	}
	.leftbtn{
		width: 64px;
		height: 64px;
		border:1px solid #000;
		border-radius: 50%;
		position: absolute;
		left:0;
		top:50%;
		font-size: 30px;
		text-align: center;
		line-height: 64px;
		background: #fff;
		opacity: 0;
	}
	.leftbtnbox .leftbtn:hover{
		opacity: 1;
	}
	.rightbtn{
		width: 64px;
		height: 64px;
		border:1px solid #000;
		border-radius: 50%;
		position: absolute;
		right:0;
		top:50%;
		font-size: 30px;
		text-align: center;
		line-height: 64px;
		background: #fff;
		opacity: 0;
	}
	.rightbtnbox{
		width: 20%;
		height: 100%;
		position: absolute;
		right:10px;
		top:0;
		bottom:0;
	}
	.rightbtnbox:hover .rightbtn{
		opacity: 0.3;
	}
	.rightbtnbox .rightbtn:hover{
		opacity: 1;
	}
	.rectbtnbox{
		width: 100px;
		height: 3px;
		position: absolute;
		left:50%;
		bottom:10px;
		z-index: 500;
	}
	.rectbtn-list{
		width: 30%;
		height: 100%;
		margin-right: 5%;
		float: left;
		background: #000;
		z-index: 500;
	}
	.rectbtn-list:last-child{
		margin-right: 0;
	}
	.progress{
		width: 0;
		height: 100%;
		background: red;
	}
	.largefoot div{
		float: left;
		width: 20%;
	}
}
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.nav .logo,.sou,.gou,.caidan{
	font-size: 25px;
	color: #c0c0c0;
}

