body {
    margin: 0;
    padding: 0;
}
ul,
li {
    list-style: none;
    padding:0;
    margin:0;
}
a {
    text-decoration: none;
}
.promo {
    width:100%;
    height: 200px;
    border: 2px solid #fff;
    background-position: center;
    background-repeat: no-repeat;
}
.promo img {
    width: 100%;
    height: 100%;
}
.ad {
    width: 100%;
    height: 40px;
    background: #444444;
}
.ad div {
    width: 87%;
    height: 100%;
    margin: 0 auto;
    line-height: 40px;
}
.ad div span {
    float: right;
    font-size: 12px;
    color: #a8a8aa;
    font-family: "微软雅黑";
}
.nav {
    width: 100%;
    height: 48px;
    padding: 0 10px;
    position: relative;
    background: #333333;
    text-align: justify;
    line-height: 12px;
    z-index: 100;
}
.nav:after {
    content: "";
    width: 100%;
    display: inline-block;
}
.nav a {
    height: 100%;
}
.nav a:nth-child(1) {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 8px;
}
.nav a:nth-child(1) span {
    display: inline-block;
    width: 20px;
    height: 1px;
    background: #fff;
}
.nav a:nth-child(1) .btn {
    transition: 1s ease;
}
.nav a:nth-child(1) .btn2 {
    transition: 1s ease;
}
.menu {
    width: 100%;
    position: absolute;
    left: 0;
    top: 44px;
    padding:0 40px;
    background: #333;
    display:none;
    z-index: 10000;
}
.menu li{
    width:100%;height:44px;
    font-size:20px;
    color:#fff;
    line-height:44px;
    border-bottom:1px solid #ccc;
}
.nav {
    display: block;
}
.nav1 {
    display: none;
}
.footer{
    display:none;
}
.sfooter{
    display: block;
    width:100%;
    height:auto;
    padding:0 20px;
    background:#f2f2f2;
}
.sfooter .top{
    box-sizing: content-box;
    width: 100%;
    height: 21px;
    padding: 17px 0 11px;
    border-bottom: 1px solid #d6d6d6;
}
.sfooter .top span{
    font-size: 12px;
    color: #888;
    font-family: "SF Pro SC", "HanHei SC", "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.sfooter ul{
    margin-top:10px;
    width:100%;
    height:auto;
}
.sfooter ul li{
    box-sizing:content-box;
    width:100%;
    min-height: 18px;
    height:auto;
    padding:10px 0;
    border-bottom:1px solid #ccc;
    cursor:pointer;
}
.sfooter ul li div:nth-child(1){
    float:left;
    font-size: 12px;
}
.sfooter ul li div:nth-child(2){
    width:18px;height:100%;
    margin-right:10px;
    float:right;
}
.sfooter .shop{
    box-sizing:content-box;
    width: 100%;
    padding:10px 0;
    height: 17px;
    font-size: 11px;
    border-bottom: 1px solid #d6d6d6;
}
.sfooter .shop a{
    color:blue;
}
.sfooter .zg{
    box-sizing:content-box;
    padding-top:10px;
    display: inline-block;
    width:52px;height:17px;
}
.sfooter .zg span{
    display: block;
    float:left;
    width:16px;height:16px;
}
.sfooter .zg span:nth-child(2){
    width:30px;
    display:block;
    float:right;
    font-size: 0.5em;
    color:#ccc;
    margin-bottom: 3px;
}
.sfooter .copy{
    box-sizing:content-box;
    padding:10px 0;
    width:100%;height:17px;
    font-size:0.5em;
    color:#888;
}
.sfooter .bottom{
    width:100%;height:auto;
    margin-top:5px;
}
.sfooter .bottom a{
    display: inline-block;
    width:63px;height:17px;
    padding-right:12px;
    font-size:12px;
    color:#666;
    border-right:1px solid #ccc;
}
.sfooter .bottom a:last-child{
    border:0;
}
.sfooter p{
    box-sizing:content-box;
    width:100%;height:17px;
    padding-bottom:20px;
    font-size:0.5em;
    margin-top:12px;
    margin-bottom:0;
}
.xiala{
    box-sizing:content-box;
    padding-top:10px;
    width:100%;
    height:auto;
    display: none        ;
}
.sfooter .xiala li{
    box-sizing:content-box;
    width:100%;
    border:0;
    height:15px;
    font-size:12px;
    padding:6px 14px;
}
@media screen and (min-width: 750px) {
    .nav {
        display: none;
    }
    .sfooter{
        display:none;
    }
    .menu{
        display: none;
    }
    .nav1 {
        width: 100%;
        height: 44px;
        background: #333333;
        line-height: 48px;
        display: block;
    }
    .minwd {
        max-width: 1000px;
        height: 100%;
        margin: 0 auto;
        text-align: justify;
        overflow: hidden;
    }
    .minwd:after {
        content: "";
        width: 100%;
        display: inline-block;
    }
    .minwd span {
        width: auto;
        height: 100%;
        padding: 0 10px;
        line-height: 44px;
        font-size: 14px;
        color: #fff;
    }
    .minwd span:nth-child(7) {
        display: inline-block;
    }
    .minwd .iconfont {
        font-size: 20px;
    }
    .footer {
        width: 100%;
        height: 421px;
        display: block;
    }
    .footer .content {
        box-sizing: content-box;
        max-width: 980px;
        height: 401px;
        padding: 0 22px;
        margin: 0 auto;
    }
    .footer .content .top {
        box-sizing: content-box;
        width: 100%;
        height: 21px;
        padding: 17px 0 11px;
        border-bottom: 1px solid #d6d6d6;
    }
    .footer .content .top span {
        font-size: 11px;
        color: #888;
        font-family: "SF Pro SC", "HanHei SC", "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    .footer .content .center {
        box-sizing: content-box;
        width: 100%;
        height: 245px;
        padding-top: 20px;
    }
    .footer .content .center .left {
        width: 20%;
        height: 204px;
        float: left;
    }
    .footer .content .center .left div {
        width: 100%;
        height: 15px;
        margin-bottom: 5px;
        font-weight: 600;
        font-size: 12px;
        font-size: 0.5em;
        font-family: "SF Pro SC", "HanHei SC", "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    .footer .content .center .left ul {
        margin-right: 20px;
        margin-bottom: 30px;
        margin-top: 10px;
        padding: 0;
    }
    .footer .content .center .left ul li {
        width: 100%;
        height: 15px;
        margin-bottom: 6px;
        font-size: 12px;
        font-family: "SF Pro SC", "HanHei SC", "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    .footer .content .center .left2 {
        width: 20%;
        height: 225px;
        float: left;
    }
    .footer .content .center .left3 {
        width: 20%;
        height: 138px;
        float: left;
    }
    .footer .content .center .left4 {
        width: 20%;
        height: 201px;
        float: left;
    }
    .footer .content .center .left5 {
        width: 20%;
        height: 120px;
        float: left;
    }
    .footer .content .bottom {
        width: 100%;
        height: 109px;
        padding: 34px 0 21px;
    }
    .footer .content .bottom .top {
        width: 100%;
        height: 17px;
        font-size: 11px;
        border-bottom: 1px solid #d6d6d6;
        padding-bottom: 6px;
        margin-bottom: 7px;
    }
    .footer .content .top a{
        color:blue;
    }
    .footer .content .bottom .center {
        width: 100%;
        height: 17px;
        padding:3px 0;
    }
    .footer .content .bottom .center span{
        font-size:12px;
    }
    .footer .content .bottom .center a{
        display: inline-block;
        width:63px;height:17px;
        padding-right:12px;
        font-size:12px;
        color:#666;
        border-right:1px solid #ccc;
    }
    .footer .content .bottom .center a:last-child{
        border:0;
    }
    .zg{
        display: inline-block;
        width:52px;height:17px;
        float:right;
    }
    .zg span{
        display: block;
        float:left;
        width:16px;height:16px;
    }
    .zg span:nth-child(2){
        width:30px;
        display:block;
        float:right;
        font-size: 1em;
        color:#ccc;
        margin-bottom: 3px;
    }
    .bottom p{
        width:100%;height:17px;
        margin-bottom:20px;
        font-size:0.5em;
    }
}
.banner{
    width:100%;height:500px;
    position: relative;
    overflow: hidden;
}
.banner .list{
    width:100%;height:100%;
    position:absolute;
    top:0;left:100%;
}
.banner .list:nth-child(1){
    left:0;
    background: #0a0a0a;
    background-image:url("../img/ban1_small.jpg");
    background-repeat:no-repeat;
    background-size:985px 594px;
    background-position: center;
}
.banner .list:nth-child(2){
    background: #f3f3f3;
    background-image:url("../img/ban2_small.jpg");
    background-repeat:no-repeat;
    background-size: 120%;
    background-position: center;
}
.banner .list:nth-child(3){
    background: #fff;
    background-image:url("../img/ban3_small.jpg");
    background-repeat:no-repeat;
    background-size:260%;
    background-position:center 200px;
}
@media screen and (min-width:535px){
    .banner{
        width:100%;height:500px;
        position: relative;
        overflow: hidden;
    }
    .banner .list:nth-child(1){
        left:0;
        background: #0a0a0a;
        background-image:url("../img/ban1_medium.jpg");
        background-repeat:no-repeat;
        background-size:985px 594px;
        background-position: center;
    }
    .banner .list:nth-child(2){
        background: #f3f3f3;
        background-image:url("../img/ban2_medium.jpg");
        background-repeat:no-repeat;
        background-size:985px 594px;
        background-position: center;
    }
    .banner .list:nth-child(3){
        background: #fff;
        background-image:url("../img/banner3.jpg");
        background-repeat:no-repeat;
        background-size:150%;
        background-position:center;
    }
}
@media screen and (min-width:1050px){
    .banner{
        width:100%;height:540px;
        position: relative;
        overflow: hidden;
    }
    .banner .list:nth-child(1){
        left:0;
        background: #0a0a0a;
        background-image:url("../img/banner1.jpg");
        background-repeat:no-repeat;
        background-size:985px 594px;
        background-position: center;
    }
    .banner .list:nth-child(2){
        background: #f3f3f3;
        background-image:url("../img/banner2.jpg");
        background-repeat:no-repeat;
        background-size:985px 594px;
        background-position: center;
    }
    .banner .list:nth-child(3){
        background: #fff;
        background-image:url("../img/banner3.jpg");
        background-repeat:no-repeat;
        background-size:110% 85%;
        background-position:center 140px;
    }
}
.banner ul{
    width:180px;height:22px;
    position:absolute;
    padding:10px 0;
    top:88%;left:45%;
    z-index: 999;
}
.banner ul li{
    width:50px;height:2px;
    background:rgba(128,128,128,0.2);
    margin-left:9px;
    float:left;
    cursor:pointer;
}
.banner ul li div{
    width:0;height:100%;
    background: #aaa;
}
.banner .left{
    width:269px;height:100%;
    position: absolute;
    top:0;left:0;
    z-index: 10000;
}
.banner .right{
    width:269px;height:100%;
    position:absolute;
    top:0;right:0;
    z-index: 10000;
}
.zyan{
    font-family: "宋体";
    width:64px;height:64px;
    border-radius:50%;
    position:absolute;
    top:45%;
    background:rgba(180,180,180,0.25);
    text-align:center;
    line-height:64px;
    font-size:36px;
    cursor:pointer;
    color:#b5b5b5;
    display: none;
}
.leftbtn{
    left:25%;
}
.rightbtn{
    left:55%;
}
.banner .left:hover .leftbtn{
    display: block;
}
.banner .right:hover .rightbtn{
    display:block;
}
