body,input,form,p,pre,h1,h2,h3,h4,h5,h6{
	margin: 0px;
	padding: 0px;
}
ul,li,ol,dl,dt,dd{
	margin: 0;
	padding: 0;
	list-style:none;
}
img{
	border: 0;
}
a{
	text-decoration: none;
	color: #666666;
}
body{
	font-family:"微软雅黑","楷体","苹方";
}