@font-face {
  font-family: 'iconfont';
  src: url('../css/iconfont.eot');
  src: url('../css/iconfont.eot?#iefix') format('embedded-opentype'), url('../css/iconfont.woff') format('woff'), url('../css/iconfont.ttf') format('truetype'), url('../css/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 22px;
  font-style: normal;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
.container {
  width: 100%;
  margin: auto;
}
.container-fluid {
  width: 100%;
  margin: auto;
}
.container-fluid:before,
.container-fluid:after {
  content: "";
  clear: both;
  display: block;
}
.container-fluid > .row {
  width: 100px;
}
.container-fluid > .row:before,
.container-fluid > .row:after {
  content: "";
  clear: both;
  display: block;
}
.container:before,
.container:after {
  content: "";
  clear: both;
  display: block;
}
.container > .row {
  width: 100%;
}
.container > .row:before,
.container > .row:after {
  content: "";
  clear: both;
  display: block;
}
.container-fluid > .row > .col-s-1 {
  width: 8.33333333%;
  position: relative;
  float: left;
}
.container > .row > .col-s-1 {
  width: 8.33333333%;
  position: relative;
  float: left;
}
.container > .row > .col-s-offect-1 {
  margin-left: 8.33333333%;
}
.container > .row > .col-s-push-1 {
  left: 8.33333333%;
}
.container > .row > .col-s-pull-1 {
  left: -8.33333333%;
}
.container-fluid > .row > .col-s-2 {
  width: 16.66666667%;
  position: relative;
  float: left;
}
.container > .row > .col-s-2 {
  width: 16.66666667%;
  position: relative;
  float: left;
}
.container > .row > .col-s-offect-2 {
  margin-left: 16.66666667%;
}
.container > .row > .col-s-push-2 {
  left: 16.66666667%;
}
.container > .row > .col-s-pull-2 {
  left: -16.66666667%;
}
.container-fluid > .row > .col-s-3 {
  width: 25%;
  position: relative;
  float: left;
}
.container > .row > .col-s-3 {
  width: 25%;
  position: relative;
  float: left;
}
.container > .row > .col-s-offect-3 {
  margin-left: 25%;
}
.container > .row > .col-s-push-3 {
  left: 25%;
}
.container > .row > .col-s-pull-3 {
  left: -25%;
}
.container-fluid > .row > .col-s-4 {
  width: 33.33333333%;
  position: relative;
  float: left;
}
.container > .row > .col-s-4 {
  width: 33.33333333%;
  position: relative;
  float: left;
}
.container > .row > .col-s-offect-4 {
  margin-left: 33.33333333%;
}
.container > .row > .col-s-push-4 {
  left: 33.33333333%;
}
.container > .row > .col-s-pull-4 {
  left: -33.33333333%;
}
.container-fluid > .row > .col-s-5 {
  width: 41.66666667%;
  position: relative;
  float: left;
}
.container > .row > .col-s-5 {
  width: 41.66666667%;
  position: relative;
  float: left;
}
.container > .row > .col-s-offect-5 {
  margin-left: 41.66666667%;
}
.container > .row > .col-s-push-5 {
  left: 41.66666667%;
}
.container > .row > .col-s-pull-5 {
  left: -41.66666667%;
}
.container-fluid > .row > .col-s-6 {
  width: 50%;
  position: relative;
  float: left;
}
.container > .row > .col-s-6 {
  width: 50%;
  position: relative;
  float: left;
}
.container > .row > .col-s-offect-6 {
  margin-left: 50%;
}
.container > .row > .col-s-push-6 {
  left: 50%;
}
.container > .row > .col-s-pull-6 {
  left: -50%;
}
.container-fluid > .row > .col-s-7 {
  width: 58.33333333%;
  position: relative;
  float: left;
}
.container > .row > .col-s-7 {
  width: 58.33333333%;
  position: relative;
  float: left;
}
.container > .row > .col-s-offect-7 {
  margin-left: 58.33333333%;
}
.container > .row > .col-s-push-7 {
  left: 58.33333333%;
}
.container > .row > .col-s-pull-7 {
  left: -58.33333333%;
}
.container-fluid > .row > .col-s-8 {
  width: 66.66666667%;
  position: relative;
  float: left;
}
.container > .row > .col-s-8 {
  width: 66.66666667%;
  position: relative;
  float: left;
}
.container > .row > .col-s-offect-8 {
  margin-left: 66.66666667%;
}
.container > .row > .col-s-push-8 {
  left: 66.66666667%;
}
.container > .row > .col-s-pull-8 {
  left: -66.66666667%;
}
.container-fluid > .row > .col-s-9 {
  width: 75%;
  position: relative;
  float: left;
}
.container > .row > .col-s-9 {
  width: 75%;
  position: relative;
  float: left;
}
.container > .row > .col-s-offect-9 {
  margin-left: 75%;
}
.container > .row > .col-s-push-9 {
  left: 75%;
}
.container > .row > .col-s-pull-9 {
  left: -75%;
}
.container-fluid > .row > .col-s-10 {
  width: 83.33333333%;
  position: relative;
  float: left;
}
.container > .row > .col-s-10 {
  width: 83.33333333%;
  position: relative;
  float: left;
}
.container > .row > .col-s-offect-10 {
  margin-left: 83.33333333%;
}
.container > .row > .col-s-push-10 {
  left: 83.33333333%;
}
.container > .row > .col-s-pull-10 {
  left: -83.33333333%;
}
.container-fluid > .row > .col-s-11 {
  width: 91.66666667%;
  position: relative;
  float: left;
}
.container > .row > .col-s-11 {
  width: 91.66666667%;
  position: relative;
  float: left;
}
.container > .row > .col-s-offect-11 {
  margin-left: 91.66666667%;
}
.container > .row > .col-s-push-11 {
  left: 91.66666667%;
}
.container > .row > .col-s-pull-11 {
  left: -91.66666667%;
}
.container-fluid > .row > .col-s-12 {
  width: 100%;
  position: relative;
  float: left;
}
.container > .row > .col-s-12 {
  width: 100%;
  position: relative;
  float: left;
}
.container > .row > .col-s-offect-12 {
  margin-left: 100%;
}
.container > .row > .col-s-push-12 {
  left: 100%;
}
.container > .row > .col-s-pull-12 {
  left: -100%;
}
.col-m-hide {
  display: block;
}
.col-l-hide {
  display: block;
}
.col-s-hide {
  display: none;
}
.img1 {
  background-image: url(../img/small1.jpg);
}
.img2 {
  background-image: url(../img/small2.jpg);
}
.img3 {
  background-image: url(../img/small3.jpg);
}
.img4 {
  background-image: url(../img/small4.jpg);
}
@media screen and (min-width: 735px) {
  .container {
    width: 100%;
  }
  .col-s-hide {
    display: block;
  }
  .col-l-hide {
    display: block;
  }
  .col-m-hide {
    display: none;
  }
  .container-fluid > .row > .col-m-1 {
    width: 8.33333333%;
    position: relative;
    float: left;
  }
  .container > .row > .col-m-1 {
    width: 8.33333333%;
    position: relative;
    float: left;
  }
  .container > .row > .col-m-offect-1 {
    margin-left: 8.33333333%;
  }
  .container > .row > .col-m-push-1 {
    left: 8.33333333%;
  }
  .container > .row > .col-m-pull-1 {
    left: -8.33333333%;
  }
  .container-fluid > .row > .col-m-2 {
    width: 16.66666667%;
    position: relative;
    float: left;
  }
  .container > .row > .col-m-2 {
    width: 16.66666667%;
    position: relative;
    float: left;
  }
  .container > .row > .col-m-offect-2 {
    margin-left: 16.66666667%;
  }
  .container > .row > .col-m-push-2 {
    left: 16.66666667%;
  }
  .container > .row > .col-m-pull-2 {
    left: -16.66666667%;
  }
  .container-fluid > .row > .col-m-3 {
    width: 25%;
    position: relative;
    float: left;
  }
  .container > .row > .col-m-3 {
    width: 25%;
    position: relative;
    float: left;
  }
  .container > .row > .col-m-offect-3 {
    margin-left: 25%;
  }
  .container > .row > .col-m-push-3 {
    left: 25%;
  }
  .container > .row > .col-m-pull-3 {
    left: -25%;
  }
  .container-fluid > .row > .col-m-4 {
    width: 33.33333333%;
    position: relative;
    float: left;
  }
  .container > .row > .col-m-4 {
    width: 33.33333333%;
    position: relative;
    float: left;
  }
  .container > .row > .col-m-offect-4 {
    margin-left: 33.33333333%;
  }
  .container > .row > .col-m-push-4 {
    left: 33.33333333%;
  }
  .container > .row > .col-m-pull-4 {
    left: -33.33333333%;
  }
  .container-fluid > .row > .col-m-5 {
    width: 41.66666667%;
    position: relative;
    float: left;
  }
  .container > .row > .col-m-5 {
    width: 41.66666667%;
    position: relative;
    float: left;
  }
  .container > .row > .col-m-offect-5 {
    margin-left: 41.66666667%;
  }
  .container > .row > .col-m-push-5 {
    left: 41.66666667%;
  }
  .container > .row > .col-m-pull-5 {
    left: -41.66666667%;
  }
  .container-fluid > .row > .col-m-6 {
    width: 50%;
    position: relative;
    float: left;
  }
  .container > .row > .col-m-6 {
    width: 50%;
    position: relative;
    float: left;
  }
  .container > .row > .col-m-offect-6 {
    margin-left: 50%;
  }
  .container > .row > .col-m-push-6 {
    left: 50%;
  }
  .container > .row > .col-m-pull-6 {
    left: -50%;
  }
  .container-fluid > .row > .col-m-7 {
    width: 58.33333333%;
    position: relative;
    float: left;
  }
  .container > .row > .col-m-7 {
    width: 58.33333333%;
    position: relative;
    float: left;
  }
  .container > .row > .col-m-offect-7 {
    margin-left: 58.33333333%;
  }
  .container > .row > .col-m-push-7 {
    left: 58.33333333%;
  }
  .container > .row > .col-m-pull-7 {
    left: -58.33333333%;
  }
  .container-fluid > .row > .col-m-8 {
    width: 66.66666667%;
    position: relative;
    float: left;
  }
  .container > .row > .col-m-8 {
    width: 66.66666667%;
    position: relative;
    float: left;
  }
  .container > .row > .col-m-offect-8 {
    margin-left: 66.66666667%;
  }
  .container > .row > .col-m-push-8 {
    left: 66.66666667%;
  }
  .container > .row > .col-m-pull-8 {
    left: -66.66666667%;
  }
  .container-fluid > .row > .col-m-9 {
    width: 75%;
    position: relative;
    float: left;
  }
  .container > .row > .col-m-9 {
    width: 75%;
    position: relative;
    float: left;
  }
  .container > .row > .col-m-offect-9 {
    margin-left: 75%;
  }
  .container > .row > .col-m-push-9 {
    left: 75%;
  }
  .container > .row > .col-m-pull-9 {
    left: -75%;
  }
  .container-fluid > .row > .col-m-10 {
    width: 83.33333333%;
    position: relative;
    float: left;
  }
  .container > .row > .col-m-10 {
    width: 83.33333333%;
    position: relative;
    float: left;
  }
  .container > .row > .col-m-offect-10 {
    margin-left: 83.33333333%;
  }
  .container > .row > .col-m-push-10 {
    left: 83.33333333%;
  }
  .container > .row > .col-m-pull-10 {
    left: -83.33333333%;
  }
  .container-fluid > .row > .col-m-11 {
    width: 91.66666667%;
    position: relative;
    float: left;
  }
  .container > .row > .col-m-11 {
    width: 91.66666667%;
    position: relative;
    float: left;
  }
  .container > .row > .col-m-offect-11 {
    margin-left: 91.66666667%;
  }
  .container > .row > .col-m-push-11 {
    left: 91.66666667%;
  }
  .container > .row > .col-m-pull-11 {
    left: -91.66666667%;
  }
  .container-fluid > .row > .col-m-12 {
    width: 100%;
    position: relative;
    float: left;
  }
  .container > .row > .col-m-12 {
    width: 100%;
    position: relative;
    float: left;
  }
  .container > .row > .col-m-offect-12 {
    margin-left: 100%;
  }
  .container > .row > .col-m-push-12 {
    left: 100%;
  }
  .container > .row > .col-m-pull-12 {
    left: -100%;
  }
  .img1 {
    background-image: url(../img/medium1.jpg);
  }
  .img2 {
    background-image: url(../img/medium2.jpg);
  }
  .img3 {
    background-image: url(../img/medium3.jpg);
  }
  .img4 {
    background-image: url(../img/medium4.jpg);
  }
}
@media screen and (min-width: 1050px) {
  .container {
    width: 100%;
  }
  .col-s-hide {
    display: block;
  }
  .col-m-hide {
    display: block;
  }
  .col-l-hide {
    display: none;
  }
  .container-fluid > .row > .col-l-1 {
    width: 8.33333333%;
    position: relative;
    float: left;
  }
  .container > .row > .col-l-1 {
    width: 8.33333333%;
    position: relative;
    float: left;
  }
  .container > .row > .col-l-offect-1 {
    margin-left: 8.33333333%;
  }
  .container > .row > .col-l-push-1 {
    left: 8.33333333%;
  }
  .container > .row > .col-l-pull-1 {
    left: -8.33333333%;
  }
  .container-fluid > .row > .col-l-2 {
    width: 16.66666667%;
    position: relative;
    float: left;
  }
  .container > .row > .col-l-2 {
    width: 16.66666667%;
    position: relative;
    float: left;
  }
  .container > .row > .col-l-offect-2 {
    margin-left: 16.66666667%;
  }
  .container > .row > .col-l-push-2 {
    left: 16.66666667%;
  }
  .container > .row > .col-l-pull-2 {
    left: -16.66666667%;
  }
  .container-fluid > .row > .col-l-3 {
    width: 25%;
    position: relative;
    float: left;
  }
  .container > .row > .col-l-3 {
    width: 25%;
    position: relative;
    float: left;
  }
  .container > .row > .col-l-offect-3 {
    margin-left: 25%;
  }
  .container > .row > .col-l-push-3 {
    left: 25%;
  }
  .container > .row > .col-l-pull-3 {
    left: -25%;
  }
  .container-fluid > .row > .col-l-4 {
    width: 33.33333333%;
    position: relative;
    float: left;
  }
  .container > .row > .col-l-4 {
    width: 33.33333333%;
    position: relative;
    float: left;
  }
  .container > .row > .col-l-offect-4 {
    margin-left: 33.33333333%;
  }
  .container > .row > .col-l-push-4 {
    left: 33.33333333%;
  }
  .container > .row > .col-l-pull-4 {
    left: -33.33333333%;
  }
  .container-fluid > .row > .col-l-5 {
    width: 41.66666667%;
    position: relative;
    float: left;
  }
  .container > .row > .col-l-5 {
    width: 41.66666667%;
    position: relative;
    float: left;
  }
  .container > .row > .col-l-offect-5 {
    margin-left: 41.66666667%;
  }
  .container > .row > .col-l-push-5 {
    left: 41.66666667%;
  }
  .container > .row > .col-l-pull-5 {
    left: -41.66666667%;
  }
  .container-fluid > .row > .col-l-6 {
    width: 50%;
    position: relative;
    float: left;
  }
  .container > .row > .col-l-6 {
    width: 50%;
    position: relative;
    float: left;
  }
  .container > .row > .col-l-offect-6 {
    margin-left: 50%;
  }
  .container > .row > .col-l-push-6 {
    left: 50%;
  }
  .container > .row > .col-l-pull-6 {
    left: -50%;
  }
  .container-fluid > .row > .col-l-7 {
    width: 58.33333333%;
    position: relative;
    float: left;
  }
  .container > .row > .col-l-7 {
    width: 58.33333333%;
    position: relative;
    float: left;
  }
  .container > .row > .col-l-offect-7 {
    margin-left: 58.33333333%;
  }
  .container > .row > .col-l-push-7 {
    left: 58.33333333%;
  }
  .container > .row > .col-l-pull-7 {
    left: -58.33333333%;
  }
  .container-fluid > .row > .col-l-8 {
    width: 66.66666667%;
    position: relative;
    float: left;
  }
  .container > .row > .col-l-8 {
    width: 66.66666667%;
    position: relative;
    float: left;
  }
  .container > .row > .col-l-offect-8 {
    margin-left: 66.66666667%;
  }
  .container > .row > .col-l-push-8 {
    left: 66.66666667%;
  }
  .container > .row > .col-l-pull-8 {
    left: -66.66666667%;
  }
  .container-fluid > .row > .col-l-9 {
    width: 75%;
    position: relative;
    float: left;
  }
  .container > .row > .col-l-9 {
    width: 75%;
    position: relative;
    float: left;
  }
  .container > .row > .col-l-offect-9 {
    margin-left: 75%;
  }
  .container > .row > .col-l-push-9 {
    left: 75%;
  }
  .container > .row > .col-l-pull-9 {
    left: -75%;
  }
  .container-fluid > .row > .col-l-10 {
    width: 83.33333333%;
    position: relative;
    float: left;
  }
  .container > .row > .col-l-10 {
    width: 83.33333333%;
    position: relative;
    float: left;
  }
  .container > .row > .col-l-offect-10 {
    margin-left: 83.33333333%;
  }
  .container > .row > .col-l-push-10 {
    left: 83.33333333%;
  }
  .container > .row > .col-l-pull-10 {
    left: -83.33333333%;
  }
  .container-fluid > .row > .col-l-11 {
    width: 91.66666667%;
    position: relative;
    float: left;
  }
  .container > .row > .col-l-11 {
    width: 91.66666667%;
    position: relative;
    float: left;
  }
  .container > .row > .col-l-offect-11 {
    margin-left: 91.66666667%;
  }
  .container > .row > .col-l-push-11 {
    left: 91.66666667%;
  }
  .container > .row > .col-l-pull-11 {
    left: -91.66666667%;
  }
  .container-fluid > .row > .col-l-12 {
    width: 100%;
    position: relative;
    float: left;
  }
  .container > .row > .col-l-12 {
    width: 100%;
    position: relative;
    float: left;
  }
  .container > .row > .col-l-offect-12 {
    margin-left: 100%;
  }
  .container > .row > .col-l-push-12 {
    left: 100%;
  }
  .container > .row > .col-l-pull-12 {
    left: -100%;
  }
  .img1 {
    background-image: url(../img/1.jpg);
  }
  .img2 {
    background-image: url(../img/2.jpg);
  }
  .img3 {
    background-image: url(../img/3.jpg);
  }
  .img4 {
    background-image: url(../img/4.jpg);
  }
}
