html,body,div,span,ul,li,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6{
    padding:0;
    margin:0;
    list-style:none;
}
body{
    font-family: "SF Pro SC","SF Pro Text","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 17px;
    color: #333;

}
img{
    border:0;
}
a{
    text-decoration: none;
}
