/*---top-start---*/
	.top{
		width: 100%;
		height: 40px;
		background: #444;
		border-bottom: 2px solid #333333;
	}
	.top .guanggao{
		margin-left: 90%;
		display: block;
		width:40px;
		height: 40px;
		font-size: 10px;
		line-height: 36px;
		color: #a8a8aa;
	}
/*---top-end---*/
/*---header-start---*/
	.header{
		width: 100%;
		height: 42px;
		margin: 0 auto;
		background: #020202;
	}
	.header .row div{
		float: left;
		height: 42px;
		text-align: center;
		line-height: 42px;
		background: #020202;
		color: #fff;
	}
	.header .row div:hover{
		color: #a8a8aa;
		cursor: pointer;
	    transition: all 0.5s;
	}
	.header .row div .gang{
		margin-top:14px;
		width: 40%;
		margin-left: 30%;
		height: 10px;
		border-bottom: 2px solid #fff;
		border-top: 2px solid #fff;
	}
	.header .row div .erji{
		position: absolute;
		left: 0;
		top:42px;
		width: 1000%;
		height:0;
		z-index:10;
	}
	.header .row div .erji div{
		opacity: 0;
		width: 80%;
		border-bottom: 1px solid #888888;
		text-align: center;
		line-height: 42px;
		margin-left: 10%;
	}
	.header .row div .erji div:nth-child(7){
		border-bottom: 0px;
	}
	.header .row div .erji div a{
		color: #fff;
		width: 100%;
		height: 42px;
	}
	.header .row .lineg{
		width: 44px;
		height: 100%;
		position: relative;
	}
	.header .row .lineg .linet{
	    left:10px;
	    width: 18px;
	    height:2px;
	    background: #fff;
	    position: absolute;
	}
	.header .row .lineg .line1{
	    top:16px;
	}
	.header .row .lineg .line2{
	    bottom:16px;
	}
/*---header-end---*/
/*---banner-start---*/
	.banner{
		width: 100%;
		height: 543px;
		position: relative;
	}
	.banner .pic{
		width: 100%;
		height: 543px;
		overflow: hidden;
		position: relative;
	}
	.banner .pic div{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 100%;
		top: 0;
	}
	.banner .pic div:nth-child(1){
		background:url(../images/banner1-small.jpg);
		background-size:100% 100%; 
		background-position:center center;
	}
	.banner .pic div:nth-child(2){
		background:url(../images/banner2-midd.jpg);
		background-size:100% 100%; 
		background-position:center center;
	}
	.banner .pic div:nth-child(3){
		background:url(../images/banner3-small.jpg);
		background-size:100% 100%; 
		background-position:center center;
	}
	/*按钮*/
	.banner .btn{
		width: 200px;
		height: 4px;
		position: absolute;
		bottom: 60px;
		left: 40%;
		z-index: 20;
	}
	.banner .btn .b-b{
		width: 30%;
		height: 4px;
		background: #222222;
		float: left;
		margin-right: 3%;
		cursor: pointer;
	}
	.banner .btn .b-b div{
		width: 0;
		cursor: pointer;
		height: 4px;
		background: #808080;
	}
	/*左侧按钮*/
	.banner .leftbtn{
		width: 300px;
		height: 100%;
		position: absolute;
		left: 0;
		top:0;
		z-index:12;
		/*background: yellow;*/
	}

	.banner .left{
		width: 70px;
		height: 70px;
		position: absolute;
		border-radius: 50%;
		background: #fff;
		opacity: 0.6;
		font-size: 30px;
		text-align: center;line-height: 70px;
		color: #000;
		border:1px solid #000;
		left: 20%;
		top:45%;
		cursor: pointer;
		opacity: 0;
	}
	/*右侧按钮*/
	.banner .rightbtn{
		width: 300px;
		height: 100%;
		position: absolute;
		top: 0;
		right:0;
		z-index:12;
		/*background: red;*/

	}
	.banner .right{
		width: 70px;
		height: 70px;
		position: absolute;
		border-radius: 50%;
		background: #fff;
		opacity: 0.6;
		font-size: 30px;
		text-align: center;line-height: 70px;
		color: #000;
		border:1px solid #000;
		right: 20%;
		top:45%;
		opacity: 0;
		cursor: pointer;
	}
/*---banner-end---*/
/*---pic-start---*/
	.pic{
		width: 100%;
		height: 200px;
		margin: 1px solid #fff;
	}
	.pic .row div{
		height: 200px;
		border-right:1px solid #fff ;
		box-sizing: border-box;
	}
	.pic .row div:nth-child(4){
		border-right:0px;
	}
	.pic .row div a img{
		width: 100%;
		height: 100%;
	}
	  .pic .row div:nth-child(1){
	    background:url(../images/lun1-big.jpg);
	    background-size:100% 100%; 
	  }
	  .pic .row div:nth-child(2){
	    background:url(../images/ipad-big.jpg);
	    background-size:100% 100%; 
	  }
	  .pic .row div:nth-child(3){
	    background:url(../images/ren-big.jpg);
	    background-size:100% 100%; 
	  }
	  .pic .row div:nth-child(4){
	    background:url(../images/ipone-big.jpg);
	    background-size:100% 100%; 
	  }
/*---pic-end---*/
	.line{
		width: 80%;
		height: 50px;
		line-height: 50px;
		color: #888888;
		font-size: 12px;
		box-sizing: border-box;
		margin: 1px auto;
		border-bottom: 1px solid #d6d6d6;
	}
/*---bottom-start---*/
	.bottom{
		width: 80%;
		margin: 0 auto;
	}
	.bottom .row .bt-r{
		width: 100%;
		line-height: 34px;
		height: 34px;
		color: #333333;
		font-size: 12px;
		border-bottom: 1px solid #d6d6d6;
	}
	.bottom .row .bt-r .bt-r-t{
		cursor: pointer;
		width: 90%;
		line-height: 34px;
		color: #333333;
		font-size: 12px;
		float:left;
	}
	.bottom .row .bt-r div{
		float: right;
		line-height: 34px;
		margin-right: 10px;
		cursor: pointer;
	}
	.bottom .row .bt-l{
		width: 100%;
		line-height: 34px;
		color: #333333;
		font-size: 12px;
		display: none;
	}
	.bottom .row .bt-l li{
		cursor: pointer;
		width: 100%;
		color: #333333;
		font-size: 12px;
		line-height: 34px;
		margin-left:20px;
		opacity: 0;
		/*padding-left: 80px;*/
	}
	.bottom .b-box{
		width: 20%;
		float:left;
	}
	.bottom .b-box .title{
		font-size: 12px;
		margin-top: 20px;
		color: #333333;
		height: 25px;
		line-height: 25px;
	}
	.bottom .b-box .cont{
		font-size: 10px;
		color: #555555;
		line-height: 20px;
	}
/*---bottom-end---*/
/*---footer-start---*/
	.footer{
		width: 80%;
		margin: 0 auto;
		background: #f2f2f2;
	}
	.footer .f-top{
		width: 100%;
		height: 33px;
		line-height: 30px;
		font-size: 12px;
		color: #888888;
		border-bottom: 1px solid #d6d6d6;
	}
	.footer .f-top .lan{
		color: #0070c9;
		font-size: 12px;
	}
	.footer .f-bottom{
		font-size: 12px;
		width: 100%;
	}
	.footer .f-bottom .f-bt{
		width: 100%;
		height: 32px;
		line-height: 33px;
	}
	.footer .f-bottom .f-bt div{
		float: left;
	}
	.footer .f-bottom .f-bt .f-bt-l{
		width:25%;
		height: 32px;
		color: #8e8e8e;
	}
	.footer .f-bottom .f-bt .f-bt-c{
		width:10%;
		height: 20px;
		margin-top: 6px;
		text-align: center;
		border-right: 1px solid #d6d6d6;
		line-height: 20px;
	}
	.footer .f-bottom .f-bt .f-bt-c:nth-child(6){
		border-right: 0px;
	}
	.footer .f-bottom .f-bt .f-bt-c a{
		display: block;
		width: 10%;
		color: #555555;
	}
	.footer .f-bottom .f-bt .f-bt-r{
		text-align: center;
		width:10%;
		float: right;
		color: #555555;
	}
	.footer .f-bottom .f-bt .f-bt-r img{
		vertical-align: middle;
		margin-right: 4px;
	}
	.footer .f-bottom .f-bb{
		width:100%;
		color: #8e8e8e;
		font-size: 12px;
		line-height: 32px;
	}
	/*小屏footer*/
	.f-s-bottom{
		width: 100%;
		line-height: 32px;
		font-size: 12px;
		color: #555555;
	}
	.f-s-bottom .f-s-bt{
		width: 100%;
	}
	.f-s-bottom .f-s-bt .f-sbt-r{
		width: 100%;
		line-height: 25px;
	}
	.f-s-bottom .f-s-bt .f-sbt-r img{
		vertical-align: middle;
		margin-right: 4px;
	}
	.f-s-bottom .f-s-bt .f-sbt-con{
		width: 100%;
	}
	.f-s-bottom .f-s-bt .f-sbt-con .f-sbt-c{
		width: 17%;
		height: 15px;
		line-height: 15px;
		float: left;
		border-right: 1px solid #555;
		text-align: center;
	}
	.f-s-bottom .f-s-bt .f-sbt-con .f-sbt-c:nth-child(5){
		border-right: 0px;
	}
	.f-s-bottom .f-sbb{
		margin-top: 5px;
		margin-bottom: 20px;
	}

/*---footer-end---