*{
    margin: 0;padding: 0;list-style: none;
}
body{
    font-size: 17px;
    background: #fff;
    color: #333;
    font-weight: 400;text-align: left;
}
.guanggao{
    position: relative;
    background: #444;
    line-height: 1;
    top: 0px;
    width: 100%;
    right: 0;
    height: 40px;
    z-index: 9999;
}
.guanggao-text{
    width: 80%;
    max-width:970px;
    color:#a8a8a8;
    font-size: 12px;
    display: block;
    overflow: hidden;
    line-height: 40px;
    margin: 0 auto;
    text-align: right;
    text-decoration: none;
}
/*导航*/
.header{
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    z-index: 9999;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 44px;
    max-height: 44px;
    font-size: 17px;
    background: rgba(0,0,0,0.8);
    box-sizing: content-box;
}
.head{
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    position: relative;
    z-index: 2;
}

.bannerbox{
    width:100%;
    height:540px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: #0a0a0a;
}
.banner{
    width: 100%;
    height:100%;
}
.banner ul{
    width: 100%;
    height:100%;
}
.banner ul li{
    width: 100%;
    height:100%;
    float: left;
}
.banner li:nth-child(1){
    background-position: center center;
    background-image: url("../images/banner1-small.jpg");
    background-size:auto 100%;
    background-repeat: no-repeat;
}
.banner li:nth-child(2){
    background-position: center center;
    background-image: url("../images/banner2-small.jpg");
    background-size:auto 100%;
    background-repeat: no-repeat;
}
.banner li:nth-child(3){
    background-position: center center;
    background-image: url("../images/banner3-small.jpg");
    background-size:auto 100%;
    background-repeat: no-repeat;
}


.fourpic{
    border-top:2px solid #fff;
    border-bottom:2px solid #fff;
}

footer{
    background: #f2f2f2;
}
.line{
    width: 80%;
    height: 50px;
    line-height: 50px;
    color: #888888;
    font-size: 12px;
    box-sizing: border-box;
    margin: 1px auto;
    border-bottom: 1px solid #d6d6d6;
}
/*---bottom-start---*/
.bottom{
    width: 80%;
    margin: 0 auto;
    height: 270px;
}
.bottom .row .bt-r{
    width: 100%;
    height: 34px;
    border-bottom: 1px solid #d6d6d6;
    line-height: 34px;
    color: #333333;
    font-size: 12px;
}
.bottom .row .bt-r div{
    float: right;
    margin-right: 10px;
}
.bottom .b-box{
    width: 20%;
    float:left;
}
.bottom .b-box .title{
    font-size: 12px;
    margin-top: 20px;
    color: #333333;
    height: 25px;
    line-height: 25px;
}
.bottom .b-box .cont{
    font-size: 10px;
    color: #555555;
    line-height: 20px;
}
/*---bottom-end---*/
/*---footer-start---*/
.footer{
    width: 80%;
    margin: 0 auto;
    background: #f2f2f2;
}
.footer .f-top{
    width: 100%;
    height: 33px;
    line-height: 30px;
    font-size: 12px;
    color: #888888;
    border-bottom: 1px solid #d6d6d6;
}
.footer .f-top .lan{
    color: #0070c9;
    font-size: 12px;
}
.footer .f-bottom{
    font-size: 12px;
    width: 100%;
}
.footer .f-bottom .f-bt{
    width: 100%;
    height: 32px;
    line-height: 33px;
}
.footer .f-bottom .f-bt div{
    float: left;
}
.footer .f-bottom .f-bt .f-bt-l{
    width:25%;
    height: 32px;
    color: #8e8e8e;
}
.footer .f-bottom .f-bt .f-bt-c{
    width:10%;
    height: 20px;
    margin-top: 6px;
    text-align: center;
    border-right: 1px solid #d6d6d6;
    line-height: 20px;
}
.footer .f-bottom .f-bt .f-bt-c:nth-child(6){
    border-right: 0px;
}
.footer .f-bottom .f-bt .f-bt-c a{
    display: block;
    width: 10%;
    color: #555555;
}
.footer .f-bottom .f-bt .f-bt-r{
    text-align: center;
    width:10%;
    float: right;
    color: #555555;
}
.footer .f-bottom .f-bt .f-bt-r img{
    vertical-align: middle;
    margin-right: 4px;
}
.footer .f-bottom .f-bb{
    width:100%;
    color: #8e8e8e;
    font-size: 12px;
    line-height: 32px;
}
/*---footer-end---*/

