body,p,h1,h2,h3,h4,h5,h6,ul,li,input{
	margin:0;
	padding:0;
	list-style: none;/*清除列表标签的小圆点*/
	font-family:"SF Pro SC","SF Pro Text","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size: 17px;/*10*/
	font-weight: 400;
	color: #333;
}
a{
	color:#333;
	text-decoration: none;/*去掉a标签下划线*/
}
img{
	border:0px;
	margin:0px;
}