.banner ul.btns li{
	border-top: 5px;
	border-bottom: 5px;
}



/*导航*/
.nav-display{
	display: none;
}


.line{
	width: 80%;
	line-height: 24px;
	color: #888888;
	font-size: 12px;
	box-sizing: border-box;
	margin: 1px auto;
	border-bottom: 1px solid #d6d6d6;
}
/*---bottom-start---*/
.bottom{
	width: 80%;
	margin: 0 auto;
}
.bottom .row .bt-r{
	width: 100%;
	line-height: 34px;
	height: 34px;
	color: #333333;
	font-size: 12px;
	border-bottom: 1px solid #d6d6d6;
}
.bottom .row .bt-r .bt-r-t{
	cursor: pointer;
	width: 90%;
	line-height: 34px;
	color: #333333;
	font-size: 12px;
	float:left;
}
.bottom .row .bt-r div{
	float: right;
	line-height: 34px;
	margin-right: 10px;
	cursor: pointer;
}
.bottom .row .bt-l{
	width: 100%;
	line-height: 34px;
	color: #333333;
	font-size: 12px;
	display: none;
}
.bottom .row .bt-l li{
	cursor: pointer;
	width: 100%;
	color: #333333;
	font-size: 12px;
	line-height: 34px;
	margin-left:20px;
	opacity: 0;
	/*padding-left: 80px;*/
}
.bottom .b-box{
	width: 20%;
	float:left;
}
.bottom .b-box .title{
	font-size: 12px;
	margin-top: 20px;
	color: #333333;
	height: 25px;
	line-height: 25px;
}
.bottom .b-box .cont{
	font-size: 10px;
	color: #555555;
	line-height: 20px;
}
/*---bottom-end---*/
/*---footer-start---*/
.footer{
	width: 80%;
	margin: 0 auto;
	background: #f2f2f2;
}
.footer .f-top{
	width: 100%;
	line-height: 20px;
	font-size: 12px;
	color: #888888;
	border-bottom: 1px solid #d6d6d6;
}
.footer .f-top .lan{
	color: #0070c9;
	font-size: 12px;
}
.footer .f-bottom{
	font-size: 12px;
	width: 100%;
}
.footer .f-bottom .f-bt{
	width: 100%;
	height: 32px;
	line-height: 33px;
}
.footer .f-bottom .f-bt div{
	float: left;
}
.footer .f-bottom .f-bt .f-bt-l{
	width:25%;
	height: 32px;
	color: #8e8e8e;
}
.footer .f-bottom .f-bt .f-bt-c{
	width:10%;
	height: 20px;
	margin-top: 6px;
	text-align: center;
	border-right: 1px solid #d6d6d6;
	line-height: 20px;
}
.footer .f-bottom .f-bt .f-bt-c:nth-child(6){
	border-right: 0px;
}
.footer .f-bottom .f-bt .f-bt-c a{
	display: block;
	width: 10%;
	color: #555555;
}
.footer .f-bottom .f-bt .f-bt-r{
	text-align: right;
	width:10%;
	float: right;
	color: #555555;
}
.footer .f-bottom .f-bt .f-bt-r img{
	vertical-align: middle;
	margin-right: 4px;
}
.footer .f-bottom .f-bb{
	width:100%;
	color: #8e8e8e;
	font-size: 12px;
	line-height: 32px;
}
/*小屏footer*/
.f-s-bottom{
	width: 100%;
	line-height: 32px;
	font-size: 12px;
	color: #555555;
}
.f-s-bottom .f-s-bt{
	width: 100%;
}
.f-s-bottom .f-s-bt .f-sbt-r{
	width: 20%;
	line-height: 15px;
	float:right
}
.f-s-bottom .f-s-bt .f-sbt-r img{
	vertical-align: middle;
	margin-right: 4px;
}
.f-s-bottom .f-s-bt .f-sbt-con{
	width: 100%;
}
.f-s-bottom .f-s-bt .f-sbt-con .f-sbt-c{
	width: 15%;
	height: 15px;
	line-height: 15px;
	float: left;
	border-right: 1px solid #555;
	text-align: center;
}
.f-s-bottom .f-s-bt .f-sbt-con .f-sbt-c:nth-child(5){
	border-right: 0px;
}
.f-s-bottom .f-sbb{
	margin-top: 5px;
	margin-bottom: 20px;
}