/*大屏*/
.big{
    min-width:768px;background: rgba(0,0,0,0.8);height: 44px;
}
.big .con{
    max-width:1024px;height: 100%;margin: auto;padding: 0 20px;
}
.big .con a{
    width: 11.11111%;height: 100%;text-align: center;float: left;line-height: 44px;color: #fff;font-size: 14px;
}
.con a i{
    font-size: 20px;
}
.con a:hover{
    color: #b7b7b7;
}
.big{
    display: none;
}
.small{
    display: block;
}

.small{
    max-width:768px;background: rgba(0,0,0,0.8);height: 43px;border-top:1px solid rgba(0,0,0,0.8);
}
.small .con{
    max-width:768px;height: 100%;margin: auto;padding: 0 20px;
}
.small .con .list{
    width: 33.33333%;height: 100%;text-align: center;float: left;line-height: 44px;color: #fff;font-size: 14px;
}
.small .con .list:nth-child(3){
    text-align: right;
}
.small .con .btn{
   width: 20px;height: 20px;margin-top: 17px;cursor: pointer;
}
.small .con .btn .line1{
    width: 100%;height: 1px;background: #fff;margin-top: 5px;
    transition:transform 1s ease;
}
.small .con .btn .line2{
    width: 100%;height: 1px;background: #fff;margin-top: 5px;
    transition:transform 1s ease;
}

@media screen and (min-width: 768px) {
    .big{
        display: block;
    }
    .small{
        display: none;
    }
}

.small .con .menu{
    width:100%;background:#000;
    position: absolute;left: 0;top:43px;display: none;z-index: 999;
}
.small .menu li{
    width: 80%;margin:10px auto;border-bottom: 1px solid #666;color: #fff;font-size: 16px;
}
.small .menu li a{
    color: #fff;
}
.small .menu li:hover a{
    color: #b7b7b7;
}
.small .menu li:nth-child(7):hover a{
    color:#fff;
}
.banner{
    width: 100%;height: 500px;overflow: hidden;position: relative;
}
.banner ul{
    width: 110%;height: 110%;
    position: relative;overflow: hidden;
}
.banner ul li{
    width: 110%;height: 110%;position: absolute;left: 100%;top:0;
}

.banner ul li:nth-child(1){background: #0a0a0a; left: 0;}
.banner ul li:nth-child(2){background: #f2f2f2;}
.banner ul li:nth-child(3){background: #fff}
/*小屏*/
.banner ul li a.q{
    display: block;
    width: 80%;height: 80%;
    background: url(../images/iphone_alt_small.jpg) center center;
    background-size:contain ;
    background-repeat:no-repeat ;
}
.banner ul li a.w{
    display: block;
    width: 80%;height: 80%;
    background: url(../images/watch_alt_medium.jpg) center center;
    background-size:contain ;
    background-repeat:no-repeat ;
}
.banner ul li a.e{
    display: block;
    width: 80%;height: 80%;
    background: url(../images/macbookpro_small.jpg) center center;
    background-size:contain ;
    background-repeat:no-repeat ;
}
/*中屏*/
@media screen and (min-width:735px ) {
    .banner ul li a.q{
        display: block;
        width: 80%;height: 80%;
        background: url(../images/iphone_alt_medium.jpg) center center;
        background-size:contain ;
        background-repeat:no-repeat ;
    }
    .banner ul li a.w{
        display: block;
        width: 80%;height: 80%;
        background: url(../images/watch_alt_medium.jpg) center center;
        background-size:contain ;
        background-repeat:no-repeat ;
    }
    .banner ul li a.e{
        display: block;
        width: 80%;height: 80%;
        background: url(../images/macbookpro_medium.jpg) center center;
        background-size:contain ;
        background-repeat:no-repeat ;
    }
}
/*大屏*/
@media screen and (min-width:1070px ) {
    .banner ul li a.q{
        display: block;
        width: 80%;height: 80%;
        background: url(../images/iphone_alt_large.jpg) center center;
        background-size:contain ;
        background-repeat:no-repeat ;
    }
    .banner ul li a.w{
        display: block;
        width: 80%;height: 80%;
        background: url(../images/watch_alt_large.jpg) center center;
        background-size:contain ;
        background-repeat:no-repeat ;
    }
    .banner ul li a.e{
        display: block;
        width: 80%;height: 80%;
        background: url(../images/macbookpro_large.jpg) center center;
        background-size:contain ;
        background-repeat:no-repeat ;
    }
}
.leftbtn{
    width: 20%;height: 100%;position: absolute;left: 0;top:0;z-index: 100;
}
.leftbtn .lbtn,.rightbtn .rbtn{
    width: 64px;height: 64px;border-radius:50%;position: absolute;top:40%;background: rgba(128,128,128,0.2);text-align: center;line-height: 64px;font-size: 30px;font-family: "宋体";color: #999;cursor: pointer;opacity: 0;
    transition: opacity 1s ease;
}
.leftbtn .lbtn{
    left: 40%;
}
.leftbtn:hover .lbtn,.rightbtn:hover .rbtn{
    opacity: 1
}
.rightbtn .rbtn{
    right:40%;
}
.rightbtn{
    width: 20%;height: 100%;position: absolute;right: 0;top:0;z-index: 100;
}
.btnbox{
    width: 180px;height: 2px;position: absolute;left: 0;right:0;bottom:30px;margin:auto;z-index: 100;
}
.btnbox .btns{
    width: 50px;height: 2px;border-radius: 2px;background: rgba(128,128,128,0.2);float: left;margin-left:10px;position: relative;
}
.btnbox .btns .progress{
    width: 0;height: 100%;position: absolute;left: 0;top:0;background: #666;
}

.imgs{
    width:100%;
    height:200px;
}
.imgs > .row li{
    height:200px;
    border:1px solid transparent;
    float:left;
    box-sizing: border-box;
}
.imgs > .row li a{
    display:block;
    height:100%;
    width:100%;
    background-repeat:no-repeat;
    background-position:center center;
}
.imgs > .row li:nth-child(1) a{
    background-image:url(../images/11l.jpg);
}
.imgs >  .row li:nth-child(2) a{
    background-image:url(../images/22l.jpg);
}
.imgs > .row li:nth-child(3) a{
    background-image:url(../images/33l.jpg);
}
.imgs >  .row li:nth-child(4) a{
    background-image:url(../images/44l.jpg);
}

@media screen and (min-width: 735px) {
    .imgs >  .row li:nth-child(1) a{
        background-image:url(../images/11m.jpg);
    }
    .imgs >  .row li:nth-child(2) a{
        background-image:url(../images/22m.jpg);
    }
    .imgs >  .row li:nth-child(3) a{
        background-image:url(../images/33m.jpg);
    }
    .imgs >  .row li:nth-child(4) a{
        background-image:url(../images/44m.jpg);
    }
}

@media screen and (min-width: 1070px) {
    .imgs >  .row li:nth-child(1) a{
        background-image:url(../images/11.jpg);
    }
    .imgs >  .row li:nth-child(2) a{
        background-image:url(../images/22.jpg);
    }
    .imgs >  .row li:nth-child(3) a{
        background-image:url(../images/33.jpg);
    }
    .imgs >  .row li:nth-child(4) a{
        background-image:url(../images/44.jpg);
    }
}

/*大屏*/
.smallFooter{
    display: block;
    width:100%;
    padding-top: 20px;
}
.smallFooter li{
    width:90%;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    margin: auto;
    line-height: 38px;
    font-size:12px;
    position: relative;
    color:#333;
    cursor: pointer;
}
.son div:hover a{
    text-decoration: underline;
}
.smallFooter li span{
    font-size: 16px;
    color:#333;
    position: absolute;
    right:0;
}
.son{
    display: none;
    padding-left: 26px;
}
.son div a{
    font-size:12px;
    color:#777;
}
span{
    transition: transform 0.5s ease;
}
.largeFooter{
    display: none;
}

@media screen and (min-width: 770px) {
    .largeFooter{
        width:100%;
        display: block;
    }
    .smallFooter{
        display: none;
    }
    .footerCon{
        max-width:1024px;
        padding-left:20px ;
        margin: auto;
        overflow: hidden;
    }
    .footerzi{
        width:20%;
        float: left;
    }
    .footerzi:before,.footerzi:after{
        content: "";
        display: block;
        clear: both;
    }
    .footerzi div{
        margin-top:3px;
    }
    .footerzi div a{
        color:#777;
        font-size: 12px;
    }
    .footerzi div a:hover{
        text-decoration: underline;
    }
    h6{
        margin: 0;
        padding-top: 20px;
        padding-bottom: 10px;
    }

}
/*floor 小屏*/
.centerFloor{
    display: none;
}
.largeFloor{
    display: none;
}
.smallFloor{
    display: block;
    padding-left: 20px;
    padding-right: 12px;
    margin-top: 10px;
}
.smallFloor li{
    max-width:770px;
    margin:auto;
    font-size: 12px;
    color:#999;
    padding-top: 10px;
}
.smallFloor li a:hover{
    text-decoration: underline;
}
.smallFloor li:nth-child(1) a{
    font-size: 12px;
    color:#0070c9;
}
.smallFloor li:nth-child(2) .flag{
    background: url("../img/16.png") no-repeat;
    border-right:none;
    padding-left: 20px;
}
.smallFloor li:nth-child(4){
    padding-bottom: 10px;
}
.smallFloor li:nth-child(4) a{
    padding-left: 10px;
    padding-right: 10px;
    border-right:1px solid #ccc;
    padding-top: 0;
    margin-top: 0;
    color:#333;
}
.smallFloor li:nth-child(4) a:hover{
    text-decoration: underline;
}
.smallFloor li:nth-child(4) a:nth-child(1){
    padding-left: 0;
}

/*floor中屏*/
@media screen and (min-width: 770px) {
    .centerFloor{
        display: block;
        padding-left:12px;
        padding-right:12px;
    }
    .largeFloor{
        display: none;
    }
    .smallFloor{
        display: none;
    }
    .centerFloor li{
        max-width:930px;
        margin:auto;
        font-size: 12px;
        color:#999;
        padding-bottom: 10px;
        padding-top: 10px;
        position: relative;
    }
    .centerFloor li a{
        font-size: 12px;
        color:#0070c9;
    }
    .centerFloor li a:hover{
        text-decoration: underline;
    }
    .centerFloor .borderBottom{
        border-bottom: 1px solid #ccc;
    }
    .centerFloor .flag{
        padding-bottom: 0;
    }
    .centerFloor .centerFloora .flag{
        background: url("../img/16.png") no-repeat;
        border-right:none;
        padding-left: 20px;
        position: absolute;
        right:0;
    }
    .centerFloor .centerzi{
        padding-top: 0;
    }
    .centerFloor .centerzi a{
        padding-left: 10px;
        padding-right: 10px;
        border-right:1px solid #ccc;
        padding-top: 0;
        margin-top: 0;
        color:#333;
    }
    .centerFloor .centerzi a:nth-child(1){
        padding-left: 0;
    }


}
/*floor大屏*/
@media screen and (min-width: 930px) {
    .largeFloor{
        display: block;
        padding-left: 12px;
        padding-right: 12px;
        margin-top:20px;
    }
    .centerFloor{
        display: none;
    }
    .smallFloor{
        display: none;
    }
    .largeFloor li{
        max-width:1000px;
        margin:auto;
        font-size: 12px;
        color:#999;
        padding-bottom: 10px;
        padding-top: 10px;
        position: relative;
    }
    .largeFloor li a{
        font-size: 12px;
        color:#0070c9;
    }
    .largeFloor li a:hover{
        text-decoration: underline;
    }
    .largeFloor .borderBottom{
        border-bottom: 1px solid #ccc;
    }
    .largeFloor .largeFootera a{
        padding-left: 10px;
        padding-right: 10px;
        border-right:1px solid #ccc;
        color:#333;
    }
    .largeFloor .largeFootera .flag{
        background: url("../img/16.png") no-repeat;
        border-right:none;
        padding-left: 20px;
        position: absolute;
        right: 0;
    }
}

