@font-face {
    font-family: 'iconfont';  /* project id 258123 */
    src: url('//at.alicdn.com/t/font_agaulhl92uc5l8fr.eot');
    src: url('//at.alicdn.com/t/font_agaulhl92uc5l8fr.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_agaulhl92uc5l8fr.woff') format('woff'),
    url('//at.alicdn.com/t/font_agaulhl92uc5l8fr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_agaulhl92uc5l8fr.svg#iconfont') format('svg');
}
.main{
    list-style: none;
    margin:0 auto;
}

body,button,figure,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dt,dd,input,i,em,form,b,s{
    margin:0;
    padding:0;
    list-style: none;
}
i,em,b,s{
    font-style: normal;
}
body{
    border-top: 1px solid transparent;
    margin-top: -1px;
    position: relative;
    min-width: 320px;
    font-size: 17px;
    line-height: 1.52947;
    font-weight: 400;
    color: #333;
    /*overflow: hidden !important;*/
    /*height: 100% !important;*/
}
img{
    border:none;
}
a{
    text-decoration: none;
}
html{
    margin-top: 40px !important;
}
.adv-wrap{
    position: absolute;
    background: #444;
    line-height: 1;
    top: -40px;
    width: 100%;
    right: 0;
    height: 40px;
    z-index: 9999;
}
.adv-wrap .text{
    display: block;
    line-height: 40px;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    text-align: right;
    max-width: 976px;
    margin: 0 auto;
    color: #a8a8aa;
    font-size: 12px;
}
.ac_content{
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    position: relative;
    z-index: 2;
}
/*导航部分*/
#ac_nav{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: block;
    margin: 0;
    width: 100%;
    /*min-width: 1024px;*/
    height: 48px;
    max-height: 44px;
    background: #333;
    background: rgba(0,0,0,0.8);
    font-size: 17px;
}
.ac_link {
    font-size: 14px;
    line-height: 3.14286;
    font-weight: 400;
    color: #fff;
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0 10px;
    height: 44px;
    opacity: 1;
    background: no-repeat;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-tap-highlight-color: transparent;
    outline-offset: -7px;
}
.ac_link:hover {
    opacity: 0.65;
}

/*小屏大屏的判断*/
@media screen and (min-width:765px) {   /*大屏 最小宽度大于765*/
    .small{
        display: none;
    }
    .large{
        display: block;
    }
    /*大屏*/
    .nav_list {
        cursor: default;
        margin: 0 -10px;
        width: auto;
        height: 44px;
        text-align: justify; /*两端对齐*/
        text-justify: distribute-all-lines;

    }

    /*定义伪类--使用两端对齐*/
    .nav_list::after {
        content: '';
        width: 100%;
        display: inline-block;
        font-size: 0;
        line-height: 0;
    }

    .nav_list .ac_item {
        display: inline-block;
        position: relative;
        height: 44px;
        z-index: 1;
        vertical-align: top;
    }

    .ac_log {
        background-size: 20px 44px;
        background-repeat: no-repeat;
        background-image: url(../img/image_large.svg);
        background-position: center center;
        width: 20px;
    }

    .ac_link span {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(0px 0px 99.9% 99.9%);
        overflow: hidden;
        height: 1px;
        width: 1px;
        padding: 0;
        border: 0;
        top: 50%;
    }

    .ac_link_mac {
        background-repeat: no-repeat;
        background-image: url(../img/image_large1.svg);
        background-position: center center;
        background-origin: content-box;
        background-size: cover;
        width: 2em;
        max-width: 47.6px;
    }

    .ac_link_ipad {
        background-repeat: no-repeat;
        background-image: url(../img/image_large2.svg);
        background-position: center center;
        background-origin: content-box;
        background-size: cover;
        width: 1.92857em;
        max-width: 45.9px;
    }

    .ac_link_iPhone {
        background-repeat: no-repeat;
        background-image: url(../img/image_large3.svg);
        background-position: center center;
        background-origin: content-box;
        background-size: cover;
        width: 3.14286em;
        max-width: 74.8px;
    }

    .ac_link_watch {
        background-repeat: no-repeat;
        background-image: url(../img/image_large4.svg);
        background-position: center center;
        background-origin: content-box;
        background-size: cover;
        width: 2.85714em;
        max-width: 68px;
    }

    .ac_link_music {
        background-repeat: no-repeat;
        background-image: url(../img/image_large5.svg);
        background-position: center center;
        background-origin: content-box;
        background-size: cover;
        width: 2.64286em;
        max-width: 62.9px;
    }

    .ac_link_support {
        background-repeat: no-repeat;
        background-image: url(../img/image_large6.svg);
        background-position: center center;
        background-origin: content-box;
        background-size: cover;
        width: 3.28571em;
        max-width: 78.2px;
    }

    .ac_link_search {
        background-size: 16px 44px;
        background-repeat: no-repeat;
        background-image: url(../img/image_large7.svg);
        background-position: center center;
        width: 16px;
    }

    .ac_link_bg {
        background-size: 14px 45px;
        background-repeat: no-repeat;
        background-image: url(../img/image_large8.svg);
        background-position: center center;
        width: 14px;
    }
}

/*小屏大屏的判断*/
/*小屏 最大宽度小于765时*/
@media screen and (max-width:765px){
    .large{
        display: none;
    }
    .small{
        display: block;
    }

    /*小屏*/
    #ac_nav{
        /*height:100%;*/
        /*background: #000;*/
        transition: background 0.35s linear,height 0.35s ease-in 200ms;
        max-height: none;
    }
    #ac_nav .nav_header{
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        height: 48px;
        overflow: hidden;
        text-align: center;   /*居中*/
    }
    #ac_nav .ac_content{
        padding: 0;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .nav_header li{
        list-style: none;
    }
    .ac_item {
        display: inline-block;
        position: relative;
        height: 44px;
        z-index: 1;
        vertical-align: top;
        width: 100%;
        height: 43px;
        border-bottom: 1px solid #333;
    }

    .ac_link{
        background-position: left center;
        display: block;
        outline-offset: 0;
        padding: 0;
        width: auto;
        max-width: none;
    }

    .ac_bg {
        padding: 0 16px;
        background-size: 14px 45px;
        background-repeat: no-repeat;
        background-image: url(../img/image_small9.svg);
        background-position: center center;
        width: 14px;
        text-align: center;
    }
    .ac_log {
        background-size: 20px 44px;
        background-repeat: no-repeat;
        background-image: url(../img/image_small8.svg);
        background-position: center center;
        width: 20px;
    }
    .ac_link_mac {
        background-repeat: no-repeat;
        background-image: url(../img/image_small.svg);
        background-size: 33px 42px;
    }

    .ac_link_ipad {
        background-repeat: no-repeat;
        background-image: url(../img/image_small2.svg);
        background-size: 33px 42px;
    }

    .ac_link_iPhone {
        background-repeat: no-repeat;
        background-image: url(../img/image_small3.svg);
        background-size: 53px 42px;
    }

    .ac_link_watch {
        background-repeat: no-repeat;
        background-image: url(../img/image_small4.svg);
        background-size: 50px 42px;
    }

    .ac_link_music {
        background-repeat: no-repeat;
        background-image: url(../img/image_small5.svg);
        background-size: 46px 42px;
    }

    .ac_link_support {
        background-repeat: no-repeat;
        background-image: url(../img/image_small6.svg);
        background-size: 53px 42px;
    }
    .ac_link_search {
        backgrond-size: 19px 42px;
        background-repeat: no-repeat;
        background-image: url(../img/image_small7.svg);
    }
    .ac_search_placeholder{
        margin-left: 24px;
        display: block;
        cursor: text;
        font-family: "微软雅黑";
        font-size: 17px;
        line-height: 43px;
    }
    .line1{
        width:20px;
        border-top:1px solid #fff;
        margin-top:15px;
        font-size: 17px;
        line-height: 2.52947;
    }
    .line2{
        width:20px;
        border-top:1px solid #fff;
        margin-top:9px;
    }
    /*hover效果*/
    /*.line:hover .line1{*/
    /*transition: transform -0.25s cubic-bezier(0.39, 0.15, 0.36, 1) 1s;*/
    /*transform:translate(0,10px) rotate(45deg);*/
    /*}*/
    /*.line:hover .line2{*/
    /*transition: transform -0.25s cubic-bezier(0.39, 0.15, 0.36, 1) 1s;*/
    /*transform:translate(0,-3px) rotate(-45deg);*/
    /*}*/
    /*居中浮动*/
    .line, .logos, .bg{
        width:48px;
        height:48px;
    }
    .line{
        float: left;
    }
    .bg{
        float: right;
    }
    /*居中浮动*/
    .small .ac_link:hover {
        opacity: 0.65;
    }
    /*点击部分*/
    .ac_list{
        position: absolute;
        z-index: 2;
        top: 44px;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 0 48px;
        height: auto;
        box-sizing: border-box;
        /*overflow: hidden;*/
        /*overflow-y: auto;*/
        -webkit-overflow-scrolling: touch;
        /*visibility: hidden;*/
        -webkit-transition: visibility 0s linear 1s;
        transition: visibility 0s linear 1s;
    }

}
/*主体部分*/
.main{
    overflow: hidden;
    position: relative;
    width: 100%;
}
.gallery_container{
    height: 100vh;
    position: relative;
    overflow: hidden;
    max-height: 100%;
    min-height: 540px;
}
.gallery_container .gallery{
    position: relative;
    overflow: hidden;
    height: 100%;
}
/*banner左右点击开始*/
.clicknav{
    width:100%;
    height:2px;
    top:50%;
    z-index: 12;
}
.clicknav ul{
    list-style: none;
    margin:0;
}
.clicknav_container{
    position: absolute;
    cursor: pointer;
    width:20%;
    height:100%;
    z-index:13;
}
.click_prev{
    left:0;
    top: 50%;
}
.click_next{
    right:0;
    top: 50%;
}
.clicknav li:hover .clicknav_arrow:hover{
    opacity:.8;
}
.dayu{
    font-family:"iconfont";
    font-size:26px;
    font-weight:900;
    display: block;
}
.dayu:before{
    content: "\e6e4";
}
.xiaoyu{
    font-family:"iconfont";
}
.xiaoyu:before{
    content: "\e62e";
    font-size:26px;
    font-weight:900;
    display: block;
}

.clicknav_arrow{
    z-index: 1000;
    border-radius:64px;
    margin-top:-32px;
    width:64px;
    height:64px;
    background-color: rgba(180,180,180,0.25);
    color: #848484;
    font-size: 55px;
    line-height: 65px;
    display: block;
    overflow: hidden;
    position: absolute;
    text-align: center;
    opacity: 0;
    transition: 250ms background-color linear,250ms color linear,250ms opacity linear;
}
.arrow_pre{
    left:18px;
}
.arrow_next{
    right:18px;
}
/*banner左右点击结束*/
.gallery_item_phone{
    background: #0a0a0a;
}
.gallery_item_watch{
     background: #f3f3f3;
}
.gallery_item_pro{
    background: #fff;
}
.gallery_slide_wrapper{
    height: 100%;
}
.gallery_item{
    display: block;
    position: absolute;
    left:100%;   /*图片放到盒子外面*/
    overflow: hidden;
    width: 100%;
    height: 100%;
    will-change: transform;
}
.gallery_item.gallery_item_phone{
    position: absolute;
    left:0;  /*第一张图片放到盒子里面*/
}
.gallery_item.current{
    z-index: 10;
}
.gallery_img{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 110%;
}
.gallery_item .img_iphone7{
    background-position: center center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url(../img/iphone_alt_large.jpg);
}
.gallery_item .img_watch{
    top: -5%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/watch_alt_large.jpg);
}
.gallery_item .img_macbookpro{
    /*background-position: center center;*/
    /*background-size: auto 100%;*/
    background-repeat: no-repeat;
    background-image: url(../img/macbookpro_xlarge.jpg);
}
.gallery_item .img_macbookpro{
    width: auto;
    height: auto;
    top: 33%;
    bottom: -10%;
    left: 0;
    right: 0;
    background-size: auto 100%;
    background-position: top center;
}
a.block:before, a.block:after {
    content: ' ';
    display: table;
}
a.block:after{
    clear: both;
}
/*文字*/
.gallery_content{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: auto;
    width: auto;
    z-index: 1000;
    text-align: center;
}
.letter_item{
    position: absolute;
    top: 14%;
    width: 100%;
    font-family:"微软雅黑";
    color: #fff;
}
.gallery_item_phone .title1{
    margin-top: -12px;
}
.title1{
    font-size: 30px;
    line-height: 1.5625;
    font-weight: 500;
    letter-spacing: .011em;
}
.titler{
    margin-top: -6px;
    font-weight: 500;
    letter-spacing: .006em;
    font-size: 38px;
    line-height: 1.04167;
}
.title2{
    padding-left: 0.4em;
}
.logo_image{
    margin-bottom: 0;
}
.logo_image_watch{
    width: 144px;
    height: 55px;
    background-size: 144px 55px;
    background-repeat: no-repeat;
    background-image:url("../img/logo_watch_large.png");
    left: 50%;
    margin-left: -72px;
    position: relative;
    margin-top: 71px;
}
.logo_label{
    position: absolute;
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}
.gallery_item_watch .title_line{
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 11%;
}
.title_line{
    font-family:"微软雅黑";
    line-height: 1.175;
    font-weight: 500;
    letter-spacing: .008em;
    font-size: 38px;
    color: #333;
}
.centers{
    height: 33%;
    width: 100%;
    padding-top: 32px;
    box-sizing: border-box;
    display: table;
    position: relative;
}
.contents{
    display: table-cell;
    vertical-align: middle;
    font-family:"微软雅黑";
    color: #333;
}
/*文字*/
.circle{
    position: absolute;
    z-index: 1000;
    bottom: 20px;
    width: 100%;
    text-align: center;
    line-height: 1;
}
.tablist{
    display: inline-block;
}
.circle li{
    list-style: none;
    margin: 0 5px;
    width: 50px;
    height: 22px;
    float: left;
    position: relative;
}
.circle_item{
    top: 0;
    left: 0;
    width: 50px;
    height: 2px;
    outline: none;
    position: absolute;
    padding: 10px 0;
    opacity: 1;
    -webkit-transition: opacity 500ms ease;
    transition: opacity 500ms ease;
    box-sizing: content-box;
}
.circle_dash{
    position: relative;
    z-index: 1;
    height: 2px;
    width: 100%;
    background-color: rgba(128,128,128,0.2);  /*进度条底色*/
}
.circle_progress{
    position: absolute;
    z-index: 1001;
    left: 0;
    top: 0;
    /*width: 50px;*/   /*不能设置宽度，宽度在js中随着百分比的增长而变宽*/
    -webkit-transform-origin: left;
    transform-origin: left;
    height: 100%;
    background: gray;
    transition: opacity 500ms ease;
}
.circle_item.current .circle_progress{
    opacity:1;
}
/*大屏*/
@media screen and (min-width:1442px){
    .gallery_container{
        height: calc(100vh - 200px);
    }

}
/*中屏*/
@media screen and (max-width:1068px){
    .gallery_item .img_iphone7{
        background-image: url(../img/iphone_alt_medium.jpg);
    }
    .gallery_item .img_watch{
        background-image: url(../img/watch_alt_medium.jpg);
    }
    .gallery_item .img_macbookpro{
        top: 38%;
        background-image: url(../img/macbookpro_medium.jpg);
    }
    .gallery_container{
        height: calc(100vh - 80px);
        max-height: 960px;
        min-height: 500px;
    }
    .title1{
        font-size: 24px;
        line-height: 1.64286;
        font-weight: 500;
        letter-spacing: .012em;
    }
    .title2{
        font-size: 30px;
        line-height: 1.05;
        font-weight: 500;
        letter-spacing: .008em;
    }
}
/*小屏*/
@media screen and (max-width:735px){
    .gallery_item .img_iphone7{
        background-image: url(../img/iphone_alt_small.jpg);
    }
    .gallery_item .img_watch{
        background-image: url(../img/watch_alt_portrait_small.jpg);
    }
    .gallery_item .img_macbookpro{
        background-image: url(../img/macbookpro_small.jpg);
    }
    .gallery_container{
        height: calc(100vh - 80px);
        max-height: 640px;
        min-height: 420px;
    }
    .contents{
        height: 40%;
        padding-top: 36px;
    }
}
.prowms{
    border-bottom: 2px solid #fff;
    position: relative;
    z-index: 1;
}
.prowms .prom-position{
    list-style-type: none;
    box-sizing: border-box;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    float: left;
    min-height: 2px
}
.prom_img{
    display: block;
    background-position: center center;
    height: 200px;
}

/*底部*/
#ac_footer{
    font-size: 11px;
    line-height: 1.45455;
    font-weight: 400;
    letter-spacing: .005em;
    background-color: #f2f2f2;
    color: #333;
    min-width: 1024px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.ft_content{
    margin: 0 auto;
    padding: 0 22px;
    max-width: 980px;
}
.ac_sosumi{
    border-bottom: 1px solid #d6d6d6;
    color: #888;
    padding: 17px 0 11px;
}
.ac_sosumi div{
    font-size: 11px;
    line-height: 1.45455;
    font-weight: 400;
    letter-spacing: .005em;
    padding-bottom: 4px;
}
.ac_directory{
    font-size: 11px;
    line-height: 1.27273;
    font-weight: 400;
    letter-spacing: .005em;
    position: relative;
    z-index: 1;
    padding-top: 20px;
}
.ac_directory:before, .ac_directory:after{
    content: ' ';
    display: table;
}
.ac_directory:after{
    clear: both;
}
.ac_directory_column{
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    float: left;
    min-height: 2px;
    width:20%;
}
.ac_directory_column_section{
    width: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    float: left;
    min-height: 2px;
    pointer-events: none;
}
#ac_footer .ac_directory_column_section ~ .ac_directory_column_section{
    padding-top: 24px;
}
.section_title{
    font-size: 11px;
    line-height: 1.27273;
    font-weight: 600;
    letter-spacing: .005em;
    margin: 0;
    margin-bottom: 6px;
}
.section_list{
    margin-right: 20px;
    list-style: none;
    padding: 0;
}
.section_item{
    display: block;
    pointer-events: auto;
    margin-bottom: 6px;
}
#ac_footer a{
    color: #555;
    text-decoration: none;
    /*font-family:"微软雅黑";*/
}
/*去除横向滚动条*/
@media screen and (max-width: 1044px){
    #ac_footer {
        min-width: 320px;
    }
}
/*小屏 最大宽度小于765px时*/
@media screen and (max-width:765px){
    .large{
         display: none;
    }
    .small{
        display: block;
    }
    #ac_footer .section_title{
        margin-bottom: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        background: #f2f2f2;
        cursor: pointer;
        position: relative;
        user-select: none;
        z-index: 2;
        font-size: 12px;
        line-height: 1.5;
        font-weight: 400;
        letter-spacing: 0em;
    }
    #ac_footer .section_title:after{
        content: '+';
        float: right;
        font-size: 14px;
        font-weight: normal;
        margin-top: -2px;
        margin-right: 8px;
        -webkit-transition: -webkit-transform .3s ease;
        transition: -webkit-transform .3s ease;
        transition: transform .3s ease;
        transition: transform .3s ease, -webkit-transform .3s ease;
    }
    #ac_footer .ac_directory_column{
        width:100%;
    }
    .ac_directory_column_section{
        border-bottom: 1px solid #d6d6d6;
        overflow: hidden;
        pointer-events: auto;
    }
}
/*最底部*/
.ac_gf_footer{
    border-top: none;
    color: #888;
    padding: 34px 0 21px;
}
.ac_shop{
    max-height: 9999px;
    margin-bottom: 7px;
    padding-bottom: 6px;
    border-bottom: 1px solid #d6d6d6;
}
.nowrap{
    white-space: nowrap;
}
#ac_footer .ac_shop a.blue{
    color: #0070c9;
}
.ac_local{
    float: right;
    margin-top: 3px;
    position: relative;
    top: -3px;
    z-index: 2;
    white-space: nowrap;
}
.ac_gf_footer a{
    color: #555;
    text-decoration: none;
}
.local_link:first-child{
    border-left: none;
    margin-left: 0;
    padding-left: 0;
}
.local_flag{
    background-repeat: no-repeat;
    background-size: 16px 16px;
    display: inline-block;
    width: 16px;
    height: 16px;
    padding-right: 0px;
    background-position: left center;
    cursor: pointer;
    float: left;
    margin-top: -1px;
    background: url("../img/16.png");
}
.ac_legal{
    position: relative;
    top: -3px;
    z-index: 1;
}
.ac_legal:before, .ac_legal:after{
    content: ' ';
    display: table;
}
.ac_legal:after{
    clear: both;
}
.ac_cotyright, .ac_legal_links{
    max-height: 9999px;
    margin-right: 30px;
    float: left;
    margin-top: 3px;
}
.ac_gf_footer .ac_legal_links{
    position: relative;
    top: -3px;
    z-index: 1;
}
.ac_legal_link{
    border-right: 1px solid #d6d6d6;
    margin-right: 10px;
    padding-right: 12px;
    display: inline-block;
    margin-top: 3px;
    white-space: nowrap;
}