/*图标字体设置*/
@font-face {font-family: "iconfont";
    src: url('../font/iconfont.eot?t=1489664568163'); /* IE9*/
    src: url('../font/iconfont.eot?t=1489664568163#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff?t=1489664568163') format('woff'), /* chrome, firefox */
    url('../font/iconfont.ttf?t=1489664568163') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg?t=1489664568163#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;/*消除锯齿*/
    -moz-osx-font-smoothing: grayscale;
}

.icon-apple:before { content: "\e630"; }

.icon-menu:before { content: "\e619"; }

.icon-bag:before { content: "\e618"; }

.icon-search:before { content: "\e64b"; }

/*头部*/
.small{
    max-width: 765px;
    height: 44px;
    background: rgba(0,0,0,0.8);
    display: block;
}
.small .con{
    max-width: 765px;
    height: 100%;
    margin:0 auto;
    position: relative;
}
.small .con .smalllist{
    width: 33.33%;
    height: 100%;
    float: left;
    line-height: 44px;
    color: #fff;
    text-align: center;
    padding: 0 20px;
}
.small .con .menu{
    width: 100%;
    min-height: 100px;
    position: absolute;
    top: 44px;
    left: 0;
    background:black;
    z-index: 300;
    display: none;
}
.small .con .menu li{
    border-bottom: 1px solid #ccc;
    height:10%;
    width: 80%;
    margin:auto;
    padding-top:20px;
}
.small .con .menu li a{
    font-size: 20px;
    color: #fff;
    line-height: 20px;
}
.small .con .smalllist .btn{
    width: 20px;
    height: 20px;
    margin-left:30px;
}
.small .con .smalllist:last-child{
    text-align: right;
}
.small .con .smalllist .btn .lin1{
    width: 100%;
    height: 1px;
    margin-top:20px;
    background: #fff;
    transition: transform 1s ease;
}
.small .con .smalllist .btn .lin2{
    width: 100%;
    height: 1px;
    margin-top:8px;
    background: #fff;
    transition: transform 1s ease;
}
.large{
    min-width: 765px;
    height: 44px;
    background: rgba(0,0,0,0.8);
    display: none;
}
.large .con{
    max-width: 1024px;
    height: 100%;
    margin:0 auto;
}
.large .con a{
    width: 11.1111%;
    height: 100%;float:left;text-align: center;color:#fff;line-height: 44px;
}
@media screen and (min-width: 765px){
    .small{
        display: none;
    }
    .large{
        display: block;
    }
}
/*顶部导航大小中屏结束*/
/*banner开始*/
.bannerbox{
    width: 100%;
    height: 540px;
    overflow: hidden;
    position: relative;
}
.banner{
    width: 100%;
    height: 100%;
    margin:0 auto;
}
.banner li{
    width: 100%;
    height: 100%;
    z-index: 1;
    margin:0 auto;
    position: absolute;
    top:0;
    left:100%;
}
.bbtn{
    width: 180px;
    height: 22px;
    /*background: red;*/
    z-index: 3;
    position: absolute;
    top: 510px;
    left:40%;
}
.bbtn li{
    width: 50px;
    height: 3px;
    background: #ccc;
    margin:0 5px;
    float: left;
    position: relative;
}
.bbtn li .progress{
    width: 0px;
    height: 3px;
    margin-top:10px;
    z-index: 100;
    /*border:1px solid #858585;*/
    background: #707070;
    box-sizing: border-box;
    position: absolute;
    top:-10px;
}
.bb{
    width: 50px;
    height: 50px;
    background: rgba(147,147,147,0.8);
    z-index: 200;
    font-size: 20px;
    color:white;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.bleft{
    opacity: 0;
    position: absolute;
    top:40%;
    left:30px;
}
.bleft:hover{
    opacity: 1;
}
.bright{
    opacity: 0;
    position: absolute;
    top:40%;
    right:30px;
}
.bright:hover{
    opacity: 1;
}
.banner li a{
    display: block;
    width: 100%;
    height: 100%;
    margin:0 auto;
    background-position: center center;
    background-size:contain;
    background-repeat: no-repeat;
    z-index:2;
}
.banner li:nth-child(1){
    background: #0a0a0a;
    left:0;
}
.banner li:nth-child(2){
    background: #f3f3f3;
}
.banner li:nth-child(3){
    background: #0000;
}
.banner li:nth-child(1) a{
    background-image: url("../image/iphone_alt_small.jpg");
}
.banner li:nth-child(2) a{
    background-image: url("../image/watch_alt_portrait_small.jpg");
}
.banner li:nth-child(3) a{
    background-image: url("../image/macbookpro_portrait_small.jpg");
}
@media screen and (min-width: 765px) {
    .banner li:nth-child(1) a{
        background-image: url("../image/iphone_alt_medium.jpg");
    }
    .banner li:nth-child(2) a{
        background-image: url("../image/watch_alt_medium.jpg");
    }
    .banner li:nth-child(3) a{
        background-image: url("../image/macbookpro_medium.jpg");
    }
}
@media screen and (min-width: 1000px) {
    .banner li:nth-child(1) a{
        background-image: url("../image/iphone_alt_large.jpg");
    }
    .banner li:nth-child(2) a{
        background-image: url("../image/watch_alt_large.jpg");
    }
    .banner li:nth-child(3) a{
        background-image: url("../image/macbookpro_large.jpg");
    }
}
/*banner大小中屏结束*/
/*四个图片的大中小屏开始*/
.piclist{
    border-top:2px solid #fff;
    border-bottom:2px solid #fff;
}
/*四个图片的大中小屏结束*/
/*底部开始*/
/*下面*/
/*小屏*/
.small1{
    max-width: 760px;
    height: auto;
    background: #f2f2f2;
}
.change{
    width: 90%;
    margin: auto;
}
.small1{
    width: 100%;
    height: auto;
    display: block;
}
.smal{
    max-width: 765px;
    /*margin-left:20px;*/
    margin:0 auto;
}
.smal>ul{
    width: 90%;
    margin: auto;
    border-bottom: 1px solid #d6d6d6;
    padding: 17px 0 11px;

}
.smal>ul>li{
    text-align: left;
    font-size: 11px;
    color: #888;

}
.change{
    width: 90%;
    padding-top: 10px;
    padding-bottom:10px;
    background-color:#f2f2f2;
    color: #333;
    font-size: 12px;
    line-height: 18px;
    border-bottom:1px solid #d6d6d6 ;
    text-align: left;
}
.small1 .change .btn1{
    width: 10px;
    height: 10px;
    float: right;
    color: #333;
    margin-top: -15px;
}
.xiala{
    width: 100%;
    display: none;
}
.xiala li{
    padding-top: 10px;
}
.xiala li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.large1{
    display: none;
}
@media screen and (min-width: 760px){
    .smal{
        min-width: 760px;
        height: auto;
        margin:0 auto;
    }
    .smal>ul{
        max-width: 950px;
        margin: auto;
        border-bottom: 1px solid #d6d6d6;
        padding: 17px 0 11px;

    }
    .smal>ul>li{

        text-align: left;
        font-size: 11px;
        color: #888;

    }
    .large1{
        min-width: 760px;
        height: auto;
        overflow: hidden;
        background: #f2f2f2;
    }
    .large11{
        max-width: 950px;
        padding-top: 20px;
        margin: auto;
    }
    .large11 ul{
        width: 20%;
        height: auto;
        float: left;
    }
    .large11 li{
        line-height: 22px;
    }
    .large11 ul li a{
        color: #555;
        text-decoration: none;
        font-size: 11px;
        text-align: left;
    }
    .large1{
        display: block;
    }
    .small1{
        display: none;
    }

}
/*底部结束*/
/*版权开始*/

footer{
    background: #f2f2f2;
    padding-top:30px;
    font-size: 12px;
    color: #ccc;
    line-height: 30px;
}
.banquan{
    max-width: 980px;
    height: auto;
    margin:0 auto;
    overflow: hidden;
    /*background: pink;*/
}
.banquan .xuangou{
    line-height: 30px;
    border-bottom:1px solid #ccc;
}
.banquan .xuangou>a{
    color: #0000FF;
    padding: 5px;
}
.quanli{
    width:100%;
    height: auto;
    overflow: hidden;
}
.qleft{
    float:left;
}
.quanli a,.quanli span{
    margin-left:5px;
    margin-right: 5px;
}
.quanli a{
    color:#555555;
}
.qright{
    float: right;
}
.qright span{
    color:#555555;
}
.police{
    width: 100%;
    height: 20px;
    /*background: pink;*/
}
/*版权结束*/